
#FatFooter
    .iconrow
        .container-fluid
            .row
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                    .iconGroup
                        a(href="#section2")
                            img.icon(src="images/footer_plans@1x.png")
                        .title Our <br> plans
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                    .iconGroup
                        a(href="#section4")
                            img.icon(src="images/footer_network@1x.png")
                        .title Doctors <br> &amp; hospitals
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                    .iconGroup
                        a(href="#section5")
                            img.icon(src="images/footer_prescription@1x.png")
                        .title Prescription <br> coverage
    .plan-listing
        #FooterPlanSBCList.container-fluid
            .row
                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  .plantitle Platinum plans 
                  br           
                  .gray.small.bold Standard Plan:
                             
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-platinum-compass-250.pdf' target="_blank") UnitedHealthcare Platinum Compass 250
                               
                  .gray.small      Variations on Standard Plan:
                                  
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-platinum-compass-0.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Platinum Compass $0 (American Indian $0)* 
                          
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-platinum-compass-250-1.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Platinum Compass 250-1 (American Indian Ltd)**
                  br                        
                  .plantitle Gold plans
                  br
                                           
                  .gray.small.bold Standard Plan:
                                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-gold-compass-1000.pdf' target="_blank") UnitedHealthcare Gold Compass 1000
                               
                  .gray.small      Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-0.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Gold Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-1000-1.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Gold Compass 1000-1 (American Indian Ltd)**
                           
                  .gray.small.bold Standard Plan:
                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-gold-compass-1500.pdf' target="_blank") UnitedHealthcare Gold Compass 1500
                               
                  .gray.small      Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-0.pdf' target="_blank")    &nbsp; &nbsp;   UnitedHealthcare Gold Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-1500-1.pdf' target="_blank")  &nbsp; &nbsp;     UnitedHealthcare Gold Compass 1500-1 (American Indian Ltd)**
                           
                  .gray.small.bold Standard Plan:
                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-gold-compass-HSA-1300.pdf' target="_blank") UnitedHealthcare Gold Compass HSA 1300
                           
                  .gray.small      Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-0.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Gold Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-HSA-1300-1.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Gold Compass HSA 1300-1 (American Indian Ltd)**
                  br        
                  
                  br  
                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  .plantitle Silver plans
                  br
                           
                  .gray.small.bold Standard Plan:
                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-2000.pdf' target="_blank") UnitedHealthcare Silver Compass 2000
                           
                  .gray.small      Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-1600.pdf' target="_blank")    &nbsp; &nbsp;  UnitedHealthcare Silver Compass 1600 (CSR 73)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-400.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass 400 (CSR 87)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0-1.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass $0 (CSR 94)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")    &nbsp;  &nbsp;  UnitedHealthcare Silver Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-2000-1.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass 2000-1 (American Indian Ltd)**
                            
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-4000.pdf' target="_blank") UnitedHealthcare Silver Compass 4000
                            
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-3000.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass 3000 (CSR 73)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-850.pdf' target="_blank")   &nbsp; &nbsp;    UnitedHealthcare Silver Compass 850 (CSR 87)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0-3.pdf' target="_blank")   &nbsp; &nbsp;    UnitedHealthcare Silver Compass $0 (CSR 94)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")    &nbsp; &nbsp;   UnitedHealthcare Silver Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-4000-1.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Silver Compass 4000-1 (American Indian Ltd)**
                            
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-HSA-3600.pdf' target="_blank") UnitedHealthcare Silver Compass HSA 3600
                                
                               
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-2800.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Silver Compass HSA 2800 (CSR 73)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-1100.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass 1100 (CSR 87)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-500.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass 500 (CSR 94)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")    &nbsp;  &nbsp;  UnitedHealthcare Silver Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-3600-1.pdf' target="_blank")   &nbsp; &nbsp;  UnitedHealthcare Silver Compass HSA 3600-1 (American Indian Ltd)**
                        
                               
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-5000.pdf' target="_blank") UnitedHealthcare Silver Compass 5000
                            
                  .gray.small      Variations on Standard Plan: 
                             
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-3600.pdf' target="_blank")    &nbsp; &nbsp;   UnitedHealthcare Silver Compass 3600 (CSR 73)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-800.pdf' target="_blank")   &nbsp; &nbsp;    UnitedHealthcare Silver Compass 800 (CSR 87)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0-2.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass $0 (CSR 94)
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Silver Compass $0 (American Indian $0)*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-5000-1.pdf' target="_blank")    &nbsp; &nbsp;  UnitedHealthcare Silver Compass 5000-1 (American Indian Ltd)**        

                  br

                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  .plantitle Bronze plans 
                  br     
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-bronze-compass-4200.pdf' target="_blank") UnitedHealthcare Bronze Compass 4200
                            
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-bronze-compass-0.pdf' target="_blank")    &nbsp; &nbsp; UnitedHealthcare Bronze Compass $0 (American Indian $0)*
                              
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-bronze-compass-4200-1.pdf' target="_blank")   &nbsp; &nbsp;  UnitedHealthcare Bronze Compass 4200-1 (American Indian Ltd)**
                            
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-bronze-compass-HSA-6275.pdf' target="_blank") UnitedHealthcare Bronze Compass HSA 6275
                               
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-bronze-compass-0.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Bronze Compass $0 (American Indian $0)*
                              
                  a.planlink.xs-small(href='http://nxla.welcometouhc.com/files/sbc/unitedHealthcare-bronze-compass-HSA-6275-1.pdf' target="_blank")  &nbsp; &nbsp;  UnitedHealthcare Bronze Compass HSA 6275-1 (American Indian Ltd)**
                  br       
                  .plantitle Catastrophic plans
                  br
                             
                  a.planlink.bold(href='http://nxla.welcometouhc.com/files/sbc/unitedHealthcare-catastrophic-compass-6600.pdf' target="_blank") UnitedHealthcare Catastrophic Compass 6600
                  div 
                    br

                  p.bold.Blu-text * = American Indian - Zero Cost Share plan
                  p.bold.Blu-text ** = American Indian - Limited Cost Share plan
                  P.bold.Blu-text (CSR) = Cost Share Reduction

                  .disclaimer Plans with an asterisk are available to most consumers. Other products may only be available for individuals or families based on income levels or are designed for specific groups, such as American Indians and Alaska Native Americans.


             

                .col-lg-3.col-md-3.col-sm-3.col-xs-12.left-border
                  .plantitle Questions about a plan, or need help enrolling?
                     
                  .dashedbox
                    p(style='text-align: center; font-size:18px;')
                      | Call us at 
                  
                      a.Blu-text(href='tel:+18775129939') &nbsp; 877-512-9939 <br> TTY user dial 711
                      p.xs-small(style='text-align: center') (8 a.m to 8 p.m EST, M-F)
                  .disclaimer
                    | Para servicio al cliente en espa&ntilde;ol, llame al 
                    span#gc-number-0.gc-cs-link(title='Call with Google Voice') 877-512-9939
                  |             
                  br
                  |             
                  p.Blu-text If you are experiencing a medical emergency, call 911.

                   .plantitle Membership benefits 
                  <br>    
                  .planlink.videoModalLink(data-toggle='modal', data-target='#WellnessVideo') Health and Wellness video tour
                  
                  .planlink.videoModalLink(data-toggle='modal', data-target='#Health4MeVideo') Health4Me mobile app video
                            
                  .planlink.videoModalLink(data-toggle='modal', data-target='#CostEstimatorVideo') myHealthcare Cost Estimator video
          
                  .planlink.videoModalLink(data-toggle='modal', data-target='#MyClaimsVideo') myClaims Manager video
                  //- br
                  //- .plantitle Healthy living resources
                  //- br
                  //- a.planlink(href='http://www.uhc.tv', target='_blank') UHC.TV
                  //- a.planlink(href='http://www.uhc.com./storytellers', target='_blank') Storytellers
                  //- a.planlink(href='http://www.uhc.com/source4women.htm', target='_blank') Source4Women&reg;
                  br     

#WellnessVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Health and Wellness video tour
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                     source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
                     source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.webm', type='video/webm')
                     source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.ogv', type='video/ogg')

#Health4MeVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Health4Me mobile app video
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.ogv', type='video/ogg')

#CostEstimatorVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title myHealthcare Cost Estimator video
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/CostEstimator/Cost-Estimator.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/CostEstimator/Cost-Estimator.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/CostEstimator/Cost-Estimator.ogv', type='video/ogg')

#MyClaimsVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title myClaims Manager video
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/MyClaims/myclaims.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/MyClaims/myclaims.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/MyClaims/myclaims.ogv', type='video/ogg')

                

