<a id="delsys_89_5470cb9331ea3_link" class="arrow" href="#delsys_89_5470cb9331ea3">
</a>
<form name="frmMain" target="_blank" id="delsys_89_5470cb9331ea3form" action="https://www.providerlookuponline.com/UHC/po7/Gateway.aspx" method="POST">
    <input type="hidden" name="suppressRedirect" value="" />
    <input type="hidden" name="displayLinks" value="N" />
    <input type="hidden" name="hstLink" value="Y" />
    <input type="hidden" name="northCarolinaText" value="N" />
    <input type="hidden" name="pcpText" value="N" />
    <input type="hidden" name="medicaLogo" value="" />
    <input type="hidden" name="displayProviderId" value="N" />
    <input type="hidden" name="displayUHPerf" value="" />
    <input type="hidden" name="text" value="" />
    <input type="hidden" name="suppressLabText" value="N" />
    <input type="hidden" name="jeffersonText" value="" />
    <input type="hidden" name="suppressNationalFacilities" value="N" />
    <input type="hidden" name="showPaymentMethod" value="N" />
    <input type="hidden" name="residentSupervisor" value="N" />
    <input type="hidden" name="radiusdefault" value="" />
    <input type="hidden" name="radiussearch" value="" />
    <input type="hidden" name="Logo" value="MyUHC,UHC" />
    <input type="hidden" name="style" value="Blue" />
    <input type="hidden" name="Locale" value="" />
    <input type="hidden" name="type" value="Generic" />
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="delsys" value="89" />
    <input type="hidden" name="uhcprodname" value="2015 Plan Year Benefits - Compass Product" />
    <input type="hidden" name="uhcDiseasecode" value="" />
    <input type="hidden" name="uhcrolecode" value="" />
    <input type="hidden" name="uhcrolename" value="" />
    <input type="hidden" name="marketcode" value="" />
    <input type="hidden" name="memberid" value="0" />
    <input type="hidden" name="dependantid" value="0" />
    <input type="hidden" name="address1" value="" />
    <input type="hidden" name="statePassed" value="" />
    <input type="hidden" name="zip" value="" />
    <input type="hidden" name="memberzip" value="" />
    <input type="hidden" name="GateKeeper" value="" />
    <input type="hidden" name="returnUrl" value="" />
    <input type="hidden" name="ProviderId" value="" />
    <input type="hidden" name="portal" value="Custom" />
    <input type="hidden" name="memberGroup" value="" />
    <input type="hidden" name="groupid" value="" />
    <input type="hidden" name="suppress" value="" />
    <input type="hidden" name="choicedisplay" value="" />
    <input type="hidden" name="LastName" value="" />
    <input type="hidden" name="FirstName" value="" />
    <input type="hidden" name="MiddleName" value="" />
    <input type="hidden" name="Suffix" value="" />
    <input type="hidden" name="Degree" value="" />
    <input type="hidden" name="city" value="" />
    <input type="hidden" name="state" value="" />
    <input type="hidden" name="ndbspeccode" value="" />
    <input type="hidden" name="uhcrolelist" value="" />
    <input type="hidden" name="postback_url" value="" />
    <input type="hidden" name="has_ncqa" value="" />
    <input type="hidden" name="supressUhp" value="N" />
    <input type="hidden" name="value" value="QualityandCost" />
</form>
