#flyout.animated.bounceInRight.hidden-xs.hidden-sm
    .flyout-labels
        .helpfulresources
            img(src="images/Icon_HelpfulResources.png")
            p Helpful <br> Resources
        
        .glossary
            img(src="images/Icon_AZ.png")
            p Glossary <br> of Terms
        
        .what-is-insurance
            img(src="images/Icon_101.png")
            p Help reform <br> basics


    .flyout-links
        ul
            li
                a(href="www.healthcare.gov") Healthcare.gov
            li
                a(href="#") Just Plain Clear&copy;
            li 
                a(href="#") Glossary
            li 
                a(href="#") Health Care Reform 101
            li
                a(href="#") Kaiser Family
            li
                a(href="#") Foundation:
            li 
                a(href="#") Understanding Health Reform
            li
                a(href="#") WebMD: Health Care
            li 
                a(href="#") Reform in Arizona
            li
                a(href="#") UHC.TV
