footer
    .container
        
        .linkrow.row 
            .col-md-5.hidden-xs
                .img-footer-logo
            .col-lg-7.col-md-7.col-sm-12.col-xs-12
                a(href="http://www.uhc.com" target="_blank" alt="http://www.uhc.com").footlink UHC.com  
                p |  
                a(href="http://www.myuhc.com" target="_blank" alt="http://www.myuhc.com").footlink myUHC.com
                p |
                a(href="http://www.uhone.com" target="_blank" alt="http://www.uhone.com").footlink UHone.com
                p |
                a(href="http://www.uhc.com/legal" target="_blank" alt="http://www.uhc.com/legal").footlink Privacy/Legal
                <span class="visible-xs"> <br> </span>
                p <span class="hidden-xs"> | </span>
                .disclaimer &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> UnitedHealthcare Services, Inc.
                .dropsprite.dropsprite-down
    
    include ./FatFooter.jade
    +footerDisclaimer   