#healthresources
	.content
		h1#health-care-resources-head.Blu-text.SectionIntroText Health care resources
		h2.Blu-text.SectionIntroText There’s a lot to think about when you select a health plan. These resources can help you understand a bit about how health insurance works and what health reform means to you. 

include ./helathcarePlans-accordion.jade