
.content
  #accordion.panel-group
      .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | Need help understanding deductibles and co-insurance?
                +moreDetails('#collapseOne')
          #collapseOne.panel-collapse.collapse
            .panel-body
                .col-lg-9
                  p.Blu-text Deductibles and co-insurance are two kinds of out-of-pocket costs – what you pay when you receive care. Deductible is the amount you pay for your health care before your insurance plan begins to pay. 
                  p.Blu-text Co-insurance begins once you reach your deductible. That’s when you and your plan begin to share the cost of your covered services. If you meet your out-of-pocket limit – the most you have to pay out of pocket in a year – then your plan pays 100% of your eligible expenses.
                  p.Blu-text This example follows Jane over the course of a year, showing how she meets her deductible, then eventually her out-of-pocket limit.

                //- img.img-responsive(src="images/pharmacy-symbol.png" alt="" name="" title="")
                +chart

        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | learn about “metallic levels”

                +moreDetails('#collapseTwo')

          #collapseTwo.panel-collapse.collapse
            .panel-body
              .col-lg-10
                  p.Blu-text Plans on healthcare.gov are sorted into five categories or “metallic levels.” The levels represent the share of total costs an average person would pay for that plan. This includes monthly premiums, deductibles, co-payments, co-insurance and out-of-pocket limits. 
                  p.Blu-text The actual percentage you’ll pay in total or for each service will depend on the plan and on the actual care you receive. In general, the less you pay in premiums per month, the more you pay out of pocket when you receive care. 

             +metallicChart('Total monthly costs','Cost per doctor appt. or prescription','Best if flyout.jade')
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                | Helpful resources on health reform
                +moreDetails('#collapseThree')
          #collapseThree.panel-collapse.collapse
            .panel-body
              h4.Blu-text Health reform basics
              p.Blu-text Resources for understanding health reform and what it means to you
              a.orange(href="http://uhc-1753905340.us-east-1.elb.amazonaws.com/uhc/acacalculator.html" target="_blank" style="display:block;") UnitedHealthcare ACA Advisor <span class="fa fa-external-link">
              a.orange(href="https://www.healthcare.gov/quick-guide/one-page-guide-to-the-marketplace/" target="_blank" style="display:block;") Healthcare.gov <span class="fa fa-external-link">
              a.orange(href="http://www.kff.org/health-reform/fact-sheet/summary-of-the-affordable-care-act" target="_blank" style="display:block;") Kaiser Family Foundation <span class="fa fa-external-link">
              a.orange(href="http://www.webmd.com/health-insurance/" target="_blank" style="display:block;") WebMD <span class="fa fa-external-link">



              

               //- section(style="margin: 15px 0 15px 0")
               //-   h5.Blu-text.bold Platinum Plans 
               //-   a.orange(href="#") UnitedHealthcare Platinum Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Platinum Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //- section(style="margin: 15px 0 15px 0")    
               //-   h5.Blu-text.bold Gold Plans
               //-   a.orange(href="#") UnitedHealthcare Gold Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-   br 
               //-   a.orange(href="#") UnitedHealthcare Gold Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //- section(style="margin: 15px 0 15px 0")    
               //-   h5.Blu-text.bold Silver Plans
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-     br
               //-   a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //- section(style="margin: 15px 0 15px 0")

               //-   h5.Blu-text.bold Bronze Plans
               //-   a.orange(href="#") UnitedHealthcare Bronze Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //- h5.Blu-text.bold Catastrophic Plans
               //- a.orange(href="#") UnitedHealthcare Catastrophic Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
               //-   br
        //- panel.panel-default
        //- .panel-heading
        //- h4
        //- .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
        //- | View a sample insurance policy
        //- +moreDetails('#collapseFour')
        //- #collapseFour.panel-collapse.collapse
        //- .panel-body
        //- p.Blu-text This is an example of an insurance policy – please use this information only as a general reference. You will receive the actual policy for the plan you select once you become a member. Insurance in Arizona is offered by All Savers Insurance Company. <br> <a href="http://xla.welcometouhc.com/files/xla/content/XLA%20-%20Sample%20Policy.pdf" target="_blank" class="orange">View sample policy (PDF) <i class="fa fa-download"></i></a>
              

