//---- DEDUCTABLE MODAL

#DeductableModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    .orange(aria-hidden='true') ×
                h4.modal-title Overall deductible   
            .modal-body
                p.Blu-text You must pay all the costs up to the deductible amount before this plan begins to pay for covered services you use. Check your policy or plan document to see when the deductible starts over (usually, but not always, January 1st). See the chart starting on page 2 of the Summary of Benefits and Coverage for how much you pay for covered services after you meet the deductible.

#OOPModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close.orange(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Out-Of-Pocket limit
            .modal-body
                p.Blu-text The out-of-pocket limit is the most you could pay during a coverage period (usually one year) for your share of the cost of covered services. This limit helps you plan for health care expenses.

#PrescriptionModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Prescription Coverage    
            .modal-body
                p.Blu-text Provider means pharmacy for purposes of this section Retail: Up to a 31 day supply You may need to obtain certain drugs, including certain specialty drugs, from a pharmacy designated by us. Certain drugs may have a pre-authorization requirement or may result in a higher cost. If you use an out-of-Network Pharmacy, you may be responsible for any amount over the allowed amount. Tier 1 Contraceptives covered at No Charge. See the website listed for information on drugs covered by your plan. Not all drugs are covered. Pharmacy Deductible does not apply to Tier 1 & 2


#AnnualLimitModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Is there an overall annual limit on what the plan pays?
            .modal-body
                p.Blu-text The chart starting on page 2 of the Summary of Benefits and Coverage describes any limits on what the plan will pay for specific covered services, such as office visits.

#NetworkModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title. Does this plan use a network of providers?
            .modal-body
                p.Blu-text If you use an in-network doctor or other health care provider, this plan will pay some or all of the costs of covered services. Be aware, your in-network doctor or hospital may use an out-of-network provider for some services. Plans use the term in-network, preferred, or participating for providers in their network. See the chart starting on page 2 of the Summary of Benefits and Coverage for how this plan pays different kinds of providers.

#ReferralModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Do I need a referral to see a specialist?
            .modal-body
                p.Blu-text This plan will pay some or all of the costs to see a specialist but only if you have the plan’s permission before you see the specialist.

#ServicesModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Are there services this plan doesn’t cover?  
            .modal-body
                p.Blu-text Some of the services this plan doesn’t cover are listed on page 5 of the Summary of Benefits and Coverage. See your policy or plan document for additional information about excluded services.

// find a plan tool modal 
#model-tool.modal.fade
    .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span() x 
            |         
            h3 What Plan were You Interested In?
            |       
            .modal-body.row
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .Blu-text Are you a member of a federally recognized <br> tribe or an ANCSA shareholder?

                    form(id="nativeAm", method="", action="")
                        label.radio-inline
                            input#modalnativeAmericanCheck(type='radio', name='nativeAmerican', value='option1')
                            |  yes
                        label.radio-inline
                            input#modalnonNativeAmericanCheck(type='radio', name='nonNantiveAmerican', value='option2', checked='')
                            |  no
                        label.radio-inline
                    //- input.radio-inline(id="modalnativeAmericanCheck" type='radio' name='nativeAmerican' value='0' data-nativeAmerican="true" style="float:left")
                    //- .NACheckBox Yes

                    //- input.radio-inline(id="modalnonNativeAmericanCheck" type='radio' name='nonNantiveAmerican' value='0' data-nativeAmerican="false" style="float:left;" checked)
                    //- .NACheckBox No

                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                
                    #ModalDropdownBlock_1
                        h4.Blu-text(style="font-weight:300") Choose a plan you saw on healthcare.gov
                        #ModalDropdown
                        <a href="./select-a-plan.html" alt="#" style="color:#ff6915;">Don't Know?</a>
                    br 

                    #ModalDropdownBlock_2
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown2 

                    #ModalDropdownBlock_3
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown3

                    #ModalDropdownBlock_4
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown4

                    #ModalDropdownBlock_5
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown5
      

                    #ModalDropdownBlock_6
                        h4.Blu-text(style="font-weight:300") Choose a plan you saw on healthcare.gov
                        #ModalDropdown6
                        <a href="./select-a-plan.html" alt="#" style="color:#ff6915;">Don't Know?</a>
                    
                    #ModalDropdownBlock_7
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown7 

                    #ModalDropdownBlock_8
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown8

                    #ModalDropdownBlock_9
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown9

                    #ModalDropdownBlock_10
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown10


                     #ModalDropdownBlock_11
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown11

                     #ModalDropdownBlock_12
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown12

                    #ModalDropdownBlock_13
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown13

                    #ModalDropdownBlock_14
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown14

                    #ModalDropdownBlock_15
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown15

                    #ModalDropdownBlock_16
                        h4.Blu-text(style="font-weight:300") What was the estimated out-of-pocket maximum for this plan shown on healthcare.gov?
                            +subplanTooltip
                        #ModalDropdown16

            // end of dropdown                          
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
            |         

        // /.modal-content
      // /.modal-dialog
    // /.modal



