.content
    #TableCarousel.hidden-xs
        .row(style="padding-bottom:10px;")
            .col-lg-8.col-md-8
                p.small.pull-right Premium pricing available on <a href="https://www.healthcare.gov" target="_blank">the Federally Facilitated Marketplace</a>      
                h4.bold.Blu-text COMPARE PLANS

        #ProductDetailsFilterBar.ProductDetailsFilterBar_homePage.row.hidden-xs
            .FilterTitle.col-lg-2.col-md-3.col-sm-2
                .FilterTitle-text Show:
            .FilterSection.col-lg-3.col-md-3.col-sm-2
                .Ind-and-Fam
                    input(id="homePlanFamInd" type='radio' name='Fam-Or-Ind' value='0' checked).radio-inline
                    .labelcopy Family &amp; Individual
            .FilterSection.col-lg-3.col-md-3.col-sm-2
                .Ind-Only
                    input(id="homePlanInd" type='radio' name='Ind-Only' value='1').radio-inline
                    .labelcopy Individual only
            .Filter3.col-lg-3.col-md-3.col-sm-12
                .deduct-sort
        .row
            .col-lg-12.col-md-12(style="margin-bottom:50px;")
                p.small.lightGray Not all the plans shown here may be available to you. The plans open to you are determined on <a href="https://healthcare.gov" target="_blank">the Federally Facilitated Marketplace</a>.
                //- .small Search <span class="fa fa-search"></span>

        #KeyBar.col-lg-3.col-md-3.col.sm-3
            .planKey
                .inNetwork 
                    .inNetworkCopy In network 
                    .inNetworkSearch 
                        +findAdoctorLink
                .plan-head
                    .deduct-title
                        .PlanName-Title Deductible
                        .PlanName-Sub (per year)
                    .typerow
                        .fam 
                            .fam-icon
                        .ind
                            .ind-icon
                .plan-head
                    .deduct-title
                        .PlanName-Title Out-Of-Pocket
                        .PlanName-Sub (per year)
                    .typerow
                        .fam 
                            .fam-icon
                        .ind
                            .ind-icon
            
             
            #plansWidth

        ul#Plans.col-lg-11.col-md-11.col-sm-12.col-xs-12  

        script( id="cont" type="text/x-handlebars-template")    
            {{#each AZPlans}}
            li.planOption.col-lg-3.col-md-3.col.sm-3(data-metallic="{{this.MetallicLevel}}" data-hsa="{{this.HSA}}")
                .planName
                    .PlanName-Title {{this.PlanNameShort}}
                    .PlanName-Sub PPO | {{this.MetallicLevel}}
                
                .Deduct-Fam {{this.DedInFam}}
                .Deduct-Ind {{this.DedInInd}}
                
                .OOPocket-Fam {{this.OOPInInd}}
                .OOPocket-Ind {{this.OOPInInd}}
                .viewDetails
                    a(href="/preview{{PlanURL}}").PlanDetails-btn View details
                .SBCLink
                    a(href="/files/sbc{{SBCURL}}") Print full Summary of Benefits and Coverage
                        .fa.fa-download
            {{/each}}


    
#PrescriptCarousel.hidden-xs.container-fluid
    #KeyBar 
        .planKey
            .inNetwork 
                .inNetworkCopy In Network 
                .inNetworkSearch 
                   +findAdoctorLink
            .plan-head
                .script-deduct-title
                    .PlanName-Title Prescription <br> deductible
                    .PlanName-Sub (Per individual)
            .plan-head
                .script-coverage-title
                    .PlanName-Title Prescription <br> coverage
                .typerow
                    .tier 
                        p.Blu-text <bold>Tier 1</bold>
                    .tier
                        p.Blu-text <bold>Tier 2</bold>
                    .tier 
                        p.Blu-text <bold>Tier 3</bold>
                    .tier
                        p.Blu-text <bold>Tier 4</bold>


     ul#PrescriptionPlans

    script( id="PrescriptionData" type="text/x-handlebars-template")
         {{#each AZPlans}}
         li.prescPlanoption
             .planName
                 .PlanName-Title {{PlanNameShort}}
                 .PlanName-Sub {{PlanType}} | {{this.MetallicLevel}}
            
             .Deduct-Fam {{this.DedInFam}}
             .scriptTier {{this.Tier1}}
             .scriptTier {{this.Tier2}}
             .scriptTier {{this.Tier3}}
             .scriptTier {{this.Tier4}}
             .SBCLink
                 a(href="files/sbc{{SBCURL}}").orange Summary of Benefit Coverage for this plan (PDF)
                     .fa.fa-download.orange
             .viewDetails
                 a(href="./{{PlanURL}}").PlanDetails-btn View Plan Details

         {{/each}}