#PrescriptCarousel.hidden-xs.container-fluid
    #KeyBar 
        .planKey
            .inNetwork 
                .inNetworkCopy In Network 
                .inNetworkSearch 
                   +findAdoctorLink
            .plan-head
                .script-deduct-title
                    .PlanName-Title Prescription <br> deductible
                    .PlanName-Sub (Per individual)
            .plan-head
                .script-coverage-title
                    .PlanName-Title Prescription <br> coverage
                .typerow
                    .tier 
                        p.Blu-text <bold>Tier 1</bold>
                    .tier
                        p.Blu-text <bold>Tier 2</bold>
                    .tier 
                        p.Blu-text <bold>Tier 3</bold>
                    .tier
                        p.Blu-text <bold>Tier 4</bold>


     ul#PrescriptionPlans

    script( id="PrescriptionData" type="text/x-handlebars-template")
         {{#each AZPlans}}
         li.prescPlanoption
             .planName
                 .PlanName-Title {{PlanNameShort}}
                 .PlanName-Sub {{PlanType}} | {{this.MetallicLevel}}
            
             .Deduct-Fam {{this.DedInFam}}
             .scriptTier {{this.Tier1}}
             .scriptTier {{this.Tier2}}
             .scriptTier {{this.Tier3}}
             .scriptTier {{this.Tier4}}
             .SBCLink
                 a(href="files/sbc{{SBCURL}}").orange Summary of Benefit Coverage for this plan (PDF)
                     .fa.fa-download.orange
             .viewDetails
                 a(href="./{{PlanURL}}").PlanDetails-btn View Plan Details

         {{/each}}