#section2.section2.plans
	.container
		.content
			h1(style="margin-top:20px !important; margin-bottom:30px") What plan are you interested in?
			//- +autocomplete


			// #ProductDetailsFilterBar.ProductDetailsFilterBar_homePage.row.hidden-xs
			// 	.FilterTitle.col-lg-2.col-md-3.col-sm-2
			// 		.FilterTitle-text Are you a member of a federally recognized tribe or an ANCSA shareholder?
			// 	.FilterSection.col-lg-3.col-md-3.col-sm-2
			// 		.Ind-and-Fam
			// 			input(id="nativeAmericanCheck" type='radio' name='nativeAmerican' value='0' data-nativeAmerican="true").radio-inline
			// 			.labelcopy Yes
			// 	.FilterSection.col-lg-3.col-md-3.col-sm-2
			// 		.Ind-Only
			// 			input(id="nonNativeAmericanCheck" type='radio' name='nonNantiveAmerican' value='0' data-nativeAmerican="false" checked).radio-inline
			// 			.labelcopy No
			// 	.Filter3.col-lg-3.col-md-3.col-sm-12
			// 		.deduct-sort


			// #DropdownBlock_1
			// 	h1 Choose a plan
			// 	#Dropdown

			// #DropdownBlock_2
			// 	h1 What was your out of pocket maximum?
			// 	#Dropdown2 
			// 	//oop max dropdown

			// #DropdownBlock_3
			// 	h1 What was your out of pocket maximum?
			// 	#Dropdown3

			// #DropdownBlock_4
			// 	h1 What was your out of pocket maximum?
			// 	#Dropdown4

			// #DropdownBlock_5
			// 	h1 What was your out of pocket maximum?
			// 	#Dropdown5		

			#ProductDetailsFilterBar.ProductDetailsFilterBar_homePage.row.hidden-xs
				.FilterTitle.col-lg-2.col-md-3.col-sm-2
					.FilterTitle-text Are you a member of a federally recognized tribe or an ANCSA shareholder?
				.FilterSection.col-lg-3.col-md-3.col-sm-2
					.Ind-and-Fam
						input(id="nativeAmericanCheck" type='radio' name='nativeAmerican' value='0' data-nativeAmerican="true").radio-inline
						.labelcopy Yes
				.FilterSection.col-lg-3.col-md-3.col-sm-2
					.Ind-Only
						input(id="nonNativeAmericanCheck" type='radio' name='nonNantiveAmerican' value='0' data-nativeAmerican="false" checked).radio-inline
						.labelcopy No
				.Filter3.col-lg-3.col-md-3.col-sm-12
					.deduct-sort


			#DropdownBlock_1
				h1 Choose a plan
				#Dropdown

			#DropdownBlock_2
				h1 What was your out of pocket maximum?
				#Dropdown2 
				

			#DropdownBlock_3
				h1 What was your out of pocket maximum?
				#Dropdown3

			#DropdownBlock_4
				h1 What was your out of pocket maximum?
				#Dropdown4

			#DropdownBlock_5
				h1 What was your out of pocket maximum?
				#Dropdown5		




			br
			p.white.small Insurance is offered by UnitedHealthcare of Louisiana, Inc.




			
			script( id="DropdownTemplate" type="text/x-handlebars-template") 
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Select a plan
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each LAPlans}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='{{PlanURL}}' data-MasterTorF='{{MasterTorF}}' data-Tier='{{Tier}}' data-OOPInInd="{{OOPInInd}}" data-OOPInFam="{{OOPInFam }}" data-NatAmer="{{NatAmer}}" data-PlanNameShort="{{PlanNameShort}}") {{PlanameShort}}
						{{/each}}

			script( id="DropdownTemplate2" type="text/x-handlebars-template")
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Silver Compass 5000
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each laValues}}
						{{#if_eq PlanName "UnitedHealthcare Silver Compass 5000"}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
						{{/if_eq}}	
						{{/each}}



			script( id="DropdownTemplate3" type="text/x-handlebars-template") 
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Compass HSA 3600
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each laValues}}
						{{#if_eq PlanName "UnitedHealthcare Silver Compass HSA 3600"}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
						{{/if_eq}}	
						{{/each}}



			script( id="DropdownTemplate4" type="text/x-handlebars-template") 
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Silver Compass 4000
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each laValues}}
						{{#if_eq PlanName "UnitedHealthcare Silver Compass 4000"}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
						{{/if_eq}}	
						{{/each}}

			script( id="DropdownTemplate5" type="text/x-handlebars-template") 
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Silver Compass 2000
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each laValues}}
						{{#if_eq PlanName "UnitedHealthcare Silver Compass 2000"}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='{{OOP1NonLink}}') {{OOP1Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP2NonLink}}') {{OOP2Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP3NonLink}}') {{OOP3Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP4NonLink}}') {{OOP4Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP5NonLink}}') {{OOP5Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP6NonLink}}') {{OOP6Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP7NonLink}}') {{OOP7Non}}
							a(role='menuitem', tabindex='-1', href='{{OOP8NonLink}}') {{OOP8Non}}
						{{/if_eq}}	
						{{/each}}


				
		
	//- include ./components/carousel.jade


