#section3
    include ./sbc-modal.jade

    
    a.arrows.hidden-sm.hidden-xs.pull-left(id="arrow-left")
        i.fa.fa-angle-left.fa-5x
        .small.seemoretext.seemoretext-left.pull-left More <br> Plans
        

    a.arrows.hidden-sm.hidden-xs.pull-right(id="arrow-right")
        i.fa.fa-angle-right.fa-5x
        .small.seemoretext.seemoretext-right.pull-right More <br> Plans
        

    a(href="#section3")
    .content
            h1.Blu-text 
                | Our health plans in Arizona
            h2.SectionIntroText
                | We offer plans in all “metallic levels” with options for individuals and families. 
                h2.Blu-text If you are eligible for a cost-sharing reduction on the Federally Facilitated Marketplace, you may qualify for lower costs than shown here. Your actual costs will be determined on the Marketplace. If you have questions, call us at 844-263-7797
                +seemore('arz-seemore-btn','orange')
            br
            +plan-details('With each of our plans, you:','Select a “Primary Physician” – the main doctor who takes care of you. ','You do not need a referral to see a specialist. However, your co-pay will be less if your Primary Physician refers you.','Save money by using the plan’s network of quality doctors, hospitals, pharmacies and clinics. You’ll pay more of your costs outside the network.','Pay nothing for preventive care from your Primary Physician, such as a yearly checkup, health screenings and immunizations.','arz-plan-details')    
               
    include ./TableCarousel

    .content
        include ./MobileTable
    
    .content
        .row
            .col-lg-9.col-md-12.col-sm-12.col-xs-12
                p.blue-darkest Plans also differ in your costs for certain care, like emergency room visits and rehabilitation services. Those details are in each plan’s Summary of Benefits and Coverage.
                <br>
                p.blue-darkest Remember, you’ll also pay a monthly premium for your health plan. You can see your estimated premium on healthcare.gov, once you determine your eligibility for subsidies. Usually, if you pay more each month for the premium, you will pay less out of pocket when you receive care. If you pay less for the premium, you will pay more out of pocket for care.
                <br>
                p.lightGray.small This is only a summary. For full detail about coverage and costs, call us at <a href="tel:8442637797" class="">844-263-7797</a>. Insurance is offered by All Savers Insurance Company.

    include ./healthcare-accord-2

    .content(style="margin-top:120px;")                 

       


            
