  
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4#myModalLabel.modal-title UHC
      .modal-body
        .embed-responsive.embed-responsive-4by3
         iframe.embed-responsive-item(src='//www.youtube.com/embed/CP6VrmYIqJg' allowfullscreen)
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
