#section4
	a(href="#section4")
	.content
		.div(style="margin-bottom:30	px;")
			h1#doctors-and-hospitals-head.Blu-text Our network of doctors & hospitals	
			h2.Blu-text.SectionIntroText Our health plans feature a network of doctors, pharmacies, hospitals and clinics – more than 5,100 doctors and 5,000 facilities across the state.<sup>*</sup> 
				+seemore('sec4seeMoreBTn','Blu-text')
		section.col-lg-9.sec4-hidden-cont.white(style="margin-bottom:25px;")
			p.Blu-text Your coverage starts by selecting a “Primary Care Physician (PCP)” within the network. That’s the main doctor who provides your regular care, such as annual checkups or helping you manage a chronic condition you might have. Your Primary Care Physician (PCP) refers you to specialists.
			p.Blu-text With professionals in every parish and facilities across the state, you’ll have access to:
			ul.Blu-text
				li More than 2,700 primary care physicians 
				li Over 2,300 specialists 
				li 147 general acute-care hospitals
				li Over 1,100 Pharmacies

			p.Blu-text Your network is important because it provides access to care. You save money when you see providers in the network. Please note the Compass network is not a national network. For health care services, you must see network providers within the plan service area. For emergency services, you may use any facility or provider. Provider information in the directory may change over time. Prior to the end of open enrollment and any time you are seeking services, you should review the directory again to make sure that your provider is still in the network.

		.row
			.nextsteps
				img.placeholderbox.col-lg-8.col-md-8.col-sm-8.col-xs-12(src='./images/map-symbol.png')
				.col-lg-4.col-md-4.col-sm-4.col-xs-12(style="margin-top:2%;")

					h2.Blu-text(style="font-size: 24px;") Search our Network:

					p.Blu-text(style="font-size: 12px") Browse or search the doctors, pharmacies, hospitals, and clinics in the Compass network by visiting our provider lookup site. 

					a.button.btn.orange-btn.btn-lg.btntxt(href="http://www.providerlookuponline.com/uhc/po7/gateway.aspx?&delsys=10031" target="_blank" alt="search-uhc-network" id="networkBtn") Doctors & Facilities

					a.button.btn.orange-btn.btn-lg.btntxt(href="https://www.myuhcdental.com/presence/release/memberprovnetworksearch.asp" target="_blank" alt="search-uhc-dentist-network" id="networkBtn") Dentists
					
					a.button.btn.orange-btn.btn-lg.btntxt(href="https://www.lww-trans.com/clinicianSearch.laww?color=orange&id=9&lang=en&eapCert=false&trans" target="_blank" alt="search-uhc-mental-health-provider" id="networkBtn") Mental Health Provider
				
	.content
		p.lightGray.small *Network statistics from UnitedHealth Networks updated as of November 21, 2014. Facilities include allied health professional groups, ambulance services, ambulatory surgicenters, clinics/day care centers, convenience care clinics, dialysis centers, general acute care hospitals, medical rehabilitation centers, MRI centers, physical disability/rehabilitation facilities, provider groups, psychiatric hospitals, urgent care centers, XRay+ radiology facilities, and outpatient diagnostic/treatment centers. Pharmacies include retail, clinic, compounding, home infusion therapy, institutional, and long-term care. 
	



