#section5
  a(href="#section5")

    // a.arrows.hidden-sm.hidden-xs.pull-left(id="presc-arrow-left")
    //     i.fa.fa-angle-left.fa-5x
    //     .small.seemoretext.seemoretext-left.pull-left More <br> Plans
        

    // a.arrows.hidden-sm.hidden-xs.pull-right(id="presc-arrow-right")
    //     i.fa.fa-angle-right.fa-5x
    //     .small.seemoretext.seemoretext-right.pull-right More <br> Plans

  .content

    h1#prescriptions-coverage-head.Blu-text Making prescriptions simple
    h2.SectionIntroText.Blu-text Whether you need the occasional prescription or regular medication, our plans cover you. 
      +seemore("sec5seeMoreBtn","Blu-text")
    br
    .row  
      #sec5HiddenContent.col-lg-8.col-md-10.col-sm-12
        p.Blu-text The drugs included in your plan are shown in the Prescription Drug List. The drugs on the list are separated into four "tiers." You pay less for drugs in Tier 1 (generics and low-cost brands) and most for drugs in Tier 4 (specialty medications requiring special dosing or administration).
        p.Blu-text The drug list is the same for all of our plans that feature pharmacy benefits. But how much you pay depends on the plan you select.
        p.Blu-text You’ll have a convenient online record of the prescriptions you’ve filled and how much you’ve paid. You’ll also have access to drug information, pricing and possible alternatives you can discuss with your doctor. When you sign up for HealtheNotes, we’ll contact you and your doctor with personalized suggestions for medication savings for more than 24 conditions.

  
    // .row
    //   .col-lg-12.col-md-12.col-sm-12.col-xs-12
    //     p.smal.gray Not all the plans shown here may be available to you. The type of plans open to you determined on the <a href="http://wwww.healthcare.gov" target="_blank" alt="#" title="wwww.healthcare.gov">the Federally Facilitated Marketplace</a>
  //- include ./ScriptCarousel
  .content
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          a.btn.btn-lg.orange-btn.btntxt(id="sec5btn-drug" target="_blank" style="float: left; margin: 0 auto; display: block; color:#FFF; margin-right: 10px; " href="http://xmi.welcometouhc.com/files/baseline-responsive/content/global_assets/Exchanges/Essential%20PDL.pdf") VIEW THE DRUG LIST

        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          a.btn.btn-lg.orange-btn.btntxt(id="sec5btn-pharm" target="_blank" style="margin: 0 auto; display: block; color:#FFF; float: left;" href="https://www.optumrx.com/clientpharmacy/pharmacylocatorclient.asp?accessFullSite=true&var=PCCFZN&infoid=PCCFZN&page=insert&par") FIND A PHARMACY 
  // .content
  
  .wrapper

  .content
    .small Coverage of your medications may change. Check your pharmacy benefit documents for more information.
