

#TableCarousel.hidden-xs
    //- #FilterBar
    //-     .FilterTitle.FilterSection
    //-         .filtertitle-text Viewing <br> Options
    //-         a(href="").resetOpt reset filters
    //-     .Filter1.FilterSection
    //-         .Ind-and-Fam
    //-             input(type='radio' name='Fam-Or-Ind' value='0' checked).radio-inline
    //-             .labelcopy Family &amp; Individual
    //-         .Ind-Only
    //-             input(type='radio' name='Fam-Or-Ind' value='1').radio-inline
    //-             .labelcopy Individual Only
    //-     .Filter2.FilterSection
    //-         .col1
    //-             .CatastrophicFilter.MetalicFilter
    //-                 input(type='checkbox' name='Catastrophic' checked).checkbox-inline
    //-                 .labelcopy Catastrophic
    //-             .BronzeFilter.MetalicFilter
    //-                 input(type='checkbox' name='Bronze' checked).checkbox-inline
    //-                 .labelcopy Bronze
    //-             .SilverFilter.MetalicFilter
    //-                 input(type='checkbox' name='Silver' checked).checkbox-inline
    //-                 .labelcopy Silver
    //-         .col2
    //-             .GoldFilter.MetalicFilter
    //-                 input(type='checkbox' name='Gold' checked).checkbox-inline
    //-                 .labelcopy Gold
    //-             .PlatinumFilter.MetalicFilter
    //-                 input(type='checkbox' name='Platinum' checked).checkbox-inline
    //-                 .labelcopy Platinum
    //-             .HSAFilter.MetalicFilter
    //-                 input(type='checkbox' name='HSA' ).checkbox-inline
    //-                 .labelcopy HSA
    //-     .Filter3
    //-         .deduct-sort
    //-             .deduct-content <span class="fa fa-angle-double-up"></span> Sort deductibles lowest to highest
    //-         .print-plans
    //-             .print-content <span class="fa fa-print"></span> Print a comparison of all plans

    #KeyBar 
        .planKey
            .inNetwork 
                .inNetworkCopy In Network 
                .inNetworkSearch 
                    .small Search <span class="fa fa-search"></span>
            .plan-head
                .deduct-title
                    .PlanName-Title Deductible
                    .PlanName-Sub (Per Year*)
                .typerow
                    .fam 
                        .fam-icon
                    .ind
                        .ind-icon
            .plan-head
                .deduct-title
                    .PlanName-Title Out-Of-Pocket
                    .PlanName-Sub (Per Year*)
                .typerow
                    .fam 
                        .fam-icon
                    .ind
                        .ind-icon

    #Plans

script( id="healthplans" type="text/x-handlebars-template")

    
        {{#each AZPlans}}
        .planOption
            .planName
                .PlanName-Title {{this.PlanName}}
                .PlanName-Sub PPO | {{this.MetallicLevel}}
            
            .Deduct-Fam {{this.DedInFam}}
            .Deduct-Ind {{this.DedInInd}}
            
            .OOPocket-Fam {{this.OOPInInd}}
            .OOPocket-Ind {{this.OOPInInd}}
            .SBCLink
                a(href="#") Summary of Benefit Coverage for this plan (PDF)
                    .fa.fa-download
            .viewDetails
                a(href="#").PlanDetails-btn View Plan Details

        {{/each}}


        