mixin videoPlayer(vid-src-mp4, vid-src-webm, vid-src-ogg)
  .player
    video#video-player-sec1(preload='metadata', controls='controls' class="sec-1-vid")
        source(src='#{vid-src-mp4}', type="video/mp4")
        source(src='#{vid-src-webm}', type='video/webm')
        //- source(src='#{vid-src-ogg}', type='video/ogg')


mixin autocomplete
  .row
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
          .input-group
            input.form-control.autocomplete#tags(type='text' placeholder='Select or search for a plan')
            span.input-group-btn
              .ac-btn.button.btn.btn-default#dropDownToggle(style="padding-bottom: 1px; padding-top: 8px;" type='button') <i class="fa fa-sort-desc fa-3x orange"></i>
      
      .col-lg-5.col-md-5.col-sm-5.col-xs-12
        #viewDetails.btn.btn-lg.btn-warning VIEW DETAILS
      p(style="font-size:18px; padding-top:10px;").Blu-text.col-lg-12.col-md-12.col-sm-12.col-xs-12 or browse all our plans below

mixin chart
 section
      .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-12.col-md-12.col-sm-12.feature-content
            h6 Paying the deductible
            p.small
              | Jane visits her doctor. She pays the entire cost from her visit because she has not reached her $1,500 deductible yet
          img.img-responsive.251(src='./images/chart-graph-1.png' alt="chart-graph")

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.green.centerText.bold.small Jane pays<br>100%
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.Blu-text.centerText.bold.small Her plan pays<br> 0%
            .col-lg-12.col-md-12.col-sm-12.feature-stats
              .col-lg-8.col-md-8.col-sm-8.col-xs-6
                p Office visit cost:
                p Jane pays:
                p Her plan pays:
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                p $100
                p.green $100
                p.Blu-text $0

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-12.col-md-12.col-sm-12.feature-content
            h6 Paying co-insurance
            p.small
              | As the year goes on, Jane has  more expenses, and she meets her deductible. When she has a minor injury, her plan now pays most of her treatment costs.
          img.img-responsive(src='./images/chart-graph-2.png' alt="chart-graph")
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.green.centerText.centerText.bold.small Jane pays <br>20%
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.Blu-text.centerText.bold.small Her plan pays<br> 80%
            .col-lg-12.col-md-12.col-sm-12.feature-stats
              .col-lg-8.col-md-8.col-sm-8.col-xs-6
                p Treatment costs:
                p Jane pays:
                p Her plan pays:
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                p $1,000
                p.green $200
                p.Blu-text $800
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-12.col-md-12.col-sm-12.feature-content
            h6 Reaching out-of-pocket limit
            p.small
              | By late in the year Jane has paid $5,000 for her care and reached her out-of-pocket limit for the year. When she needs some diagnostic tests, her plan pays all of her covered costs.
          img.img-responsive(src='./images/chart-graph-3.png' alt="chart-graph")        
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.green.centerText.centerText.bold.small Jane pays <br>0%
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.Blu-text.centerText.bold.small Her plan pays<br> 100%
            .col-lg-12.col-md-12.col-sm-12.feature-stats
              .col-lg-8.col-md-8.col-sm-8.col-xs-6
                p Lab costs:
                p Jane pays:
                p Her plan pays:
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                p $500
                p.green $0
                p.Blu-text $500


               
        

// used in an accordion
mixin metallicChart
  .table-responsive
    table.table.table-hover.table-bordered.table-condensed
        tr
          th
          th 
            p.Blu-text.bold Total monthly cost 
          th 
            p.Blu-text.bold Cost when you receive care
          th 
            p.Blu-text.bold Best if you...
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle red2"></i><small> Catastrophic</small>
          td
            .imgCont
              .mask
                img(src="./images/one-dallar.png" alt="one-dallar")
          td
            .imgCont
              .mask
                img(src="./images/light-blue-dollars.png" alt="light-blue-dollars")
          td
            p.Blu-text.lightGray have a “hardship exemption” OR are under 30 and willing to pay most out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle bronze"></i>  Bronze
          td
            img(src="./images/one-dallar.png" alt="dollar image")
          td
            img(src="./images/light-blue-dollars.png" alt="dollar image")
          td
            p.Blu-text.lightGray rarely use medical services and want lower monthly payments
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle silver"></i>  Silver
          td
            img(src="./images/two-dollars.png" alt="dollar image")
          td
            img(src="./images/three-dollars-light.png" alt="dollar image")
          td
            p.Blu-text.lightGray want to balance monthly costs with out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle gold"></i>  Gold 
          td
            img(src="./images/three-dollars.png" alt="dollar image")
          td
            img(src="./images/two-dollars-light.png" alt="dollar image")
          td
            p.Blu-text.lightGray want to manage monthly payments while reducing out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle platnium"></i>  Platinum
          td
            img(src="./images/dark-blue-dollars.png" alt="dollar image")
          td
            img(src="./images/one-dollars-light.png" alt="dollar image")
          td
            p.Blu-text.lightGray frequently use medical services or want low out-of-pocket costs

mixin metallicChart2
  .table-responsive
    table.table.table-hover.table-bordered.table-condensed
        tr
          th
          th 
            p.Blu-text.bold Total monthly cost 
          th 
            p.Blu-text.bold Cost when you receive care
          th 
            p.Blu-text.bold Best if you...
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle red2"></i><small> Catastrophic</small>
          td
            .imgCont
              .mask
                img(src="./images/one-dallar.png" alt="dollar image")
          td
            .imgCont
              .mask
                img(src="./images/light-blue-dollars.png" alt="dollar image")
          td
            p.Blu-text.lightGray have a “hardship exemption” OR are under 30 and willing to pay most out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle bronze"></i>  Bronze
          td
            img(src="./images/one-dallar.png" alt="dollar image")
          td
            img(src="./images/light-blue-dollars.png" alt="dollar image")
          td
            p.Blu-text.lightGray rarely use medical services and want lower monthly payments
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle silver"></i>  Silver
          td
            img(src="./images/two-dollars.png" alt="dollar image")
          td
            img(src="./images/three-dollars-light.png" alt="dollar image")
          td
            p.Blu-text.lightGray want to balance monthly costs with out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle gold"></i>  Gold 
          td
            img(src="./images/three-dollars.png" alt="dollar image")
          td
            img(src="./images/two-dollars-light.png" alt="dollar image")
          td
            p.Blu-text.lightGray want to manage monthly payments while reducing out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle platnium"></i>  Platinum
          td
            img(src="./images/dark-blue-dollars.png" alt="dollar image")
          td
            img(src="./images/one-dollars-light.png" alt="dollar image")
          td
            p.Blu-text.lightGray frequently use medical services or want low out-of-pocket costs







mixin plan-details(copy, Lione, Litwo, Lithree, Lifour, id)
  section(class="detials" id="#{id}")
    h3.Blu-text= copy
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      ul 
       li.Blu-text
        p.Blu-text!= Lione
       li.Blu-text
        p.Blu-text!= Litwo
    .col-lg-6.col-md-6.col-sm-6.col-xs-12  
      ul        
       li.Blu-text
        p.Blu-text!= Lithree
       li.Blu-text
        p.Blu-text!= Lifour


mixin valuePropositionFeature(imgSrc,heading,copy,copyColor,vidbtnId,vidColorClass,VideoThumb, bclass, analyticsID)
    .row 
      .col-lg-12.col-md-12.col-sm-12.col-xs-12#valuePropFeature(class="#{bclass}")
        .col-lg-1.col-md-1.col-sm-1.col-xs-12
            img.circleimg.img-responsive.center-block(src= '#{imgSrc}' alt="#{heading}")
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            h4.bold(class="#{copyColor}")!= heading
            p.value-prop-copy(class="#{copyColor}")= copy

          .videoTrigger.pull-right.col-lg-2.col-md-2.col-sm-2.col-xs-12.pull-right(id="#{vidbtnId}" data-videoID="#{analyticsID}")
            
                    img.videoTriggerImg.img-responsive(src="#{VideoThumb}" class="#{vidColorClass}" alt="#{VideoThumb}")

                      


mixin icons(link,heading,copy)
    .col-lg-1.col-md-1.col-sm-1.col-xs-12
        img.sec6numbers.img-responsive(src= "#{link}" alt="#{heding}")
    .col-lg-9.col-md-9.col-sm-9.col-xs-12
      h4.white.bold= heading
      .icons-copy.white!= copy


mixin circle(src,copy,scrollLink)
    .circle
      a(href="#{scrollLink}" alt="#{scrollLink}") 
         img.circleimg-top.img-responsive(src= "#{src}" alt="src")
      p.circle-copy= copy  

mixin scrolldown()
    //- .scrolldown.hidden-md.hidden-sm.hidden-xs 
    //-     p SCROLL TO<br>VIEW MORE
    //-     .fa.fa-arrow-down.icon


mixin moreDetails(link, id)
  .moreDetails.pull-right.orange  
                .fa.fa-plus-square.fa-2x(id='#{id}', data-toggle='collapse', href='#{link}' class="moreDetailsBtn")
                p.seemoreText.orange.pull-right(data-toggle='collapse', class='#{link}')
                  |See
                  br
                  |More


mixin seemore(id, color)
  .seemore.orange()  
                div.white-bg
                .fa.fa-plus-square(style="padding:0 7px 0 0; font-size: 29px; float:left;" data-toggle='collapse', href='#', id='#{id}')
                p.seemoreText.orange.small(data-toggle='collapse', href='#' class="#{color}" style="float:left;")
                  |See
                  br
                  |More


mixin watchVideo(link, id, colorClass)
    .pull-right.orange(style="margin-top:20px")
                col-lg-6.col-md-6
                  .fa.fa-youtube-play.fa-2x(href='#{link}',id='#{id}')
                .col-lg-6.col-md-6
                  p.video-btn-copy.small(class="#{colorClass}",href='#{link}')
                    |Watch
                    |Video
mixin watchVideo2(link, id, colorClass)
    .col-lg-2.col-md-2.pull-right.orange()
                .col-lg-6.col-md-6
                  .fa.fa-youtube-play.fa-3x(href='#{link}',id='#{id}')
                .col-lg-6.col-md-6
                  p.video-btn-copy.small(class="#{colorClass}",href='#{link}')
                    |Watch
                    |Video

mixin embededVid(src, id)
  iframe(width='640', height='360', src='#{src}', frameborder='0', allowfullscreen='allowfullscreen' id="'#{id}'")
  // new line

mixin modalPopup(id, modalTitle, modalcontent)
    .modal.fade(id='#{id}' tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            .close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
            h4.modal-title #{modalTitle}
          .modal-body
            p #{modalcontent}

mixin planNameMixin
    a(href="index.html" alt="{{MasterPlan}}").hidden-xs
      img(src="./images/BackStoSummary.png" style="width: 115px" title="{{MasterPlan}}" alt="{{MasterPlan}}") 
    .content
      a.button.btn.orange-btn.btn-lg.btntxt(href='#' data-toggle="modal" data-target="#model-tool" style="float:right;" id="ChoosePlanBtn") Choose a different plan         
      h3.PlanNameCell Plan details for: <span class="visible-xs-inline"> <br></span> {{MasterPlan}}
      .PlanSubRow.row
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
         
          p.small <a href="./files/sbc{{SBCURL}}" class="orange" target="_blank">View Summary of Benefits and Coverage (PDF) <i class="fa fa-download"></i> </a>
            {{#if_eq MasterTorF "FALSE"}}
            .small.lightGray(style="font-size: 10px; ") This Statement of Benefits and Coverage is for the “cost-sharing reduction” version of the standard plan shown on this screen - 
              a(id="dedwhy" data-toggle="modal" data-target="#DisclaimerModal" class="orange" alt="disclaimer") Learn More 
            {{/if_eq}}

mixin footerDisclaimer
  #FootDisclaimer
        .container
            p.small.lightGray This website is operated by UnitedHealthcare and is not the Health Insurance Marketplace website. Insurance is offered by UnitedHealthcare of Louisiana, Inc. <br> This health care coverage is not designed or marketed as employer-provided insurance. It does not comply with your state’s small-employer group health insurance laws. These plans cannot be used, now or in the future, by you or an employer to provide insurance for employees.



mixin findAdoctorLink
  a.arrow(data-toggle='modal', href='http://www.providerlookuponline.com/uhc/po7/gateway.aspx?&delsys=83' target="_blank")
      .small Search <span class="fa fa-search"></span>
  
mixin subplanTooltip
  <a class="UHC-tooltip hidden-xs"data-toggle="tooltip" data-placement="top" title="This number helps us know what savings – or “cost-sharing reduction” – you may be eligible for on healthcare.gov. This ensures we show you the correct prices and plan details."><img src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/images/question.png" style="margin-left: 10px;" alt="#"></img> </a>

//- mixin compTable
//-   #ProductDetailsFilterBar.row.hidden-xs
//-     .FilterTitle.col-lg-2.col-md-3.col-sm-2
//-       .FilterTitle-text Show:
//-       |           
//-     .FilterSection.col-lg-3.col-md-3.col-sm-2
//-       .Ind-and-Fam
//-         input#FamRadio.radio-inline(type='radio', name='Fam-Or-Ind', value='0', checked='')
//-         |               
//-         .labelcopy Family &amp; Individual
//-         |           
//-     .FilterSection.col-lg-3.col-md-3.col-sm-2
//-       .Ind-Only
//-         input#IndRadio.radio-inline(type='radio', name='Ind-Only', value='1')
//-         |               
//-         .labelcopy Individual only
//-     |           
//-     .Filter3.col-lg-3.col-md-3.col-sm-12
//-       .deduct-sort
//-   br
//-   .content 
//-     a#arrow-left.arrows.hidden-sm.hidden-xs.pull-left
//-       i.fa.fa-angle-left.fa-5x(style="position: absolute; top: 767px; left: 159px; color: #ff6915;")
//-       .small.seemoretext.seemoretext-left.pull-left(style="position: absolute; top: 828px; left: 159px; color: #ff6915;")
//-         | More
//-         br
//-         | Plans
//-     a#arrow-right.arrows.hidden-sm.hidden-xs.pull-right
//-       i.fa.fa-angle-right.fa-5x(style="position: absolute; top: 767px; right: 253px !important; color: #ff6915;")
//-       .small.seemoretext.seemoretext-right.pull-right(style="position: absolute; top: 828px; right: 253px !important; color: #ff6915;")
//-         | More
//-         br
//-         | Plans
//-     .table-responsive
//-       table.table.table-condensed.tftable(border="1")
//-         tr
//-           th(style="color: #bdbdbd !important; font-size: 13px !important;", colspan="2") In Network
//-           th Plan 1
//-           th Plan 2
//-           th Plan 3
//-         tr
//-           th(rowspan="2") Deductible
//-           td.fam-icon.col-md-1(style="transform: scale(0.4,0.4);")
//-           td Row:1 Cell:1
//-           td Row:1 Cell:2
//-           td Row:1 Cell:3
//-         tr
//-           td.ind-icon.col-md-1(style="transform: scale(0.5,0.5);")
//-           td Row:2 Cell:1
//-           td Row:2 Cell:2
//-           td Row:2 Cell:3
//-         tr
//-           th(rowspan="2") Out-Of-Pocket
//-           td.fam-icon.col-md-1(style="transform: scale(0.4,0.4);")
//-           td Row:3 Cell:1
//-           td Row:3 Cell:2
//-           td Row:3 Cell:3
//-         tr
//-           td.ind-icon.col-md-1(style="transform: scale(0.5,0.5);")
//-           td Row:4 Cell:1
//-           td Row:4 Cell:2
//-           td Row:4 Cell:3
//-         tr
//-           th(colspan="2") Prescription deductible
//-           td Row:5 Cell:1
//-           td Row:5 Cell:2
//-           td Row:5 Cell:3
//-         tr
//-           th(rowspan="4") Prescription coverage
//-           td.tier Tier 1
//-           td 4827
//-           td 4827
//-           td 4827
//-         tr
//-           td.tier Tier 2
//-           td 7246
//-           td 4827
//-           td 4827
//-         tr
//-           td.tier Tier 3
//-           td 5689
//-           td 4827
//-           td 4827
//-         tr
//-           td.tier Tier 4
//-           td 7246
//-           td 4827
//-           td 4827
//-         tr(style="border: none !important;")
//-           td(colspan="2")
//-           td
//-             a.button.btn.orange-btn.btn-lg.btntxt(href="#", target="_blank", alt="view-plan-details") View Details
//-           td.small.orange Print full Summary
//-           td
//-             a.button.btn.orange-btn.btn-lg.btntxt(href="#", target="_blank", alt="view-plan-details") View Details



