//- Base template
//- All other templates should extend from this

doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title UnitedHealthcare | Louisiana 
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='//assets.adobedtm.com/af395da6b02bcc888dc3ff89d221f89a86b6197e/satelliteLib-ea7528c5275a26f09dd0cc6828f3fb5199b04c4b.js')
        // script.
        //     (function() {
        //         var cx = '004650840885114678622:r-igxccz3y4';
        //         var gcse = document.createElement('script');
        //         gcse.type = 'text/javascript';
        //         gcse.async = true;
        //         gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        //         '//www.google.com/cse/cse.js?cx=' + cx;
        //         var s = document.getElementsByTagName('script')[0];
        //         s.parentNode.insertBefore(gcse, s);
        //         })();
        // //- gcse:search

       

        link(rel='stylesheet', href='styles/main.css')
        link(rel='icon', type='image/png', href='favicon.ico')
        //google foont Open Sans
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext', rel='stylesheet', type='text/css')
        <!--[if lt IE 9]>
        <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="./scripts/respond.js"></script>
        <![endif]-->



        
    body( data-spy="scroll" data-target=".navbar-collapse")
       

        <!--[if lte IE 7]>
        <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/''>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        include ../components/top-nav.jade
        block content
        include ../components/footer.jade

        // build:js(client) scripts/global.js
        script(type='text/javascript')  _satellite.setVar('NA Status ', true);
        script(src='./bower_components/jquery/dist/jquery.js')
        script(src='./bower_components/jquery-ui/jquery-ui.min.js')
        script(src='./bower_components/bootstrap/js/affix.js')
        script(src='./bower_components/bootstrap/js/alert.js')
        script(src='./bower_components/bootstrap/js/button.js')
        script(src='./bower_components/bootstrap/js/carousel.js')
        script(src='./bower_components/bootstrap/js/collapse.js')
        script(src='./bower_components/bootstrap/js/dropdown.js')
        script(src='./bower_components/bootstrap/js/modal.js')
        script(src='./bower_components/bootstrap/js/scrollspy.js')
        script(src='./bower_components/bootstrap/js/tab.js')
        script(src='./bower_components/bootstrap/js/tooltip.js')
        script(src='./bower_components/bootstrap/js/popover.js')
        script(src='./bower_components/bootstrap/js/transition.js')
        script(src='./bower_components/video-js/video.js')
        script(src='./bower_components/handlebars/handlebars.js')
        script(type='text/javascript').
            var callSatellite = function(status) {
              var nativeBooleen = status;
              console.log("satellite function called status set to  " + nativeBooleen)
              _satellite.setVar('NA Status ', nativeBooleen)
              _satellite.notify('NA Status: ' + nativeBooleen)
              _satellite.track('NA Status=' + nativeBooleen)
              }
              $("#nonNativeAmericanCheck").on('click', callSatellite(false))
              $("#nativeAmericanCheck").on("click", callSatellite(true))
      

        // endbuild

        // build:js(client) scripts/app.js
        // [injector:js]
        <script src="scripts/nascript.js"></script>
        <script src="scripts/respond.min.js"></script>
        // [endinjector]
        script(src='/scripts/app.js')
        
        // endbuild