// firefox hack for bootstrap responsive tables// 
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}




//global styles 
body {
    position: relative;
    background:url("../images/section-3-bg.png") repeat;
    font-weight: 100;
}

a {
    color: white;
    font-weight: 200;
}
label {
    margin-right: 9px !important;
}
.addBgBlue {
    background: @alpha-lightBlue;
    padding: 3px;
}
.bold {
    font-weight: bolder;
}
input[type=checkbox]:checked {
    color: @Blu-main !important;
}


td, th{
    padding: 0px 20px 28px 20px !important;
    width: auto;
    vertical-align: middle;
}

.orange-btn {
    margin: 0 auto;
    display: block;
    background: @darkOrange;
    color: @white;
    &:hover {
        color: @white !important;
    }
    
}


//video player

video{
    width: 100%;
}


.video-thumbnail {
    display: block;
    margin: 0
}
// Background Colors
.darkergraybg {
    background-color: @gray-darker;
}
.lightgraybg {
    background-color: @gray-lighter;
}

/* ================================================================================= */

.centerText{
    text-align: center;
}

.placeholderbox {
    width: 524px;
    height: auto;
}
.bold {
    font-weight: 800 !important;
}
.largerText {
    font-size: 1.2em;
    font-weight: thin;
}
//helper adjustment class
.pushDown {
    padding-top: 130px
}
//Groups 
.opening {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 45px;
}
// circles 
.nextsteps {
    width: 85%;
    margin: 0 auto;
}

.icons-copy{
    font-size: 1.2em;
    font-weight: 100;
    
}

.circle {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 50px;
    &:first-child {
        padding: 0px !important;
    }
    &:nth-child {
        padding: 0 7px 0 7px;
    }
}
.circleimg-top {
    //display: block;
    // width: 214px;
    margin: 0 auto;
   // padding:5px 0;
}
.circleimg-bottom {
    //display: block;
    width: 45px;
    margin: 0 auto;
   // padding:5px 0;
}
.circle-copy {
    color: @white;
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
}
.circlesContPadding {
    padding: 15px 0 15px 0;
}


.white-bg{
    background: #fff;
    background-color: #fff;
    width: 23px;
    height: 23px;
    position: relative;
    top: 26px;
    border-radius: 50px;
    z-index: 2;
}

.fa.fa-plus-square{
    position: relative;
    z-index: 7;
}

// search btn and search input 
#searchBtn > i{
position: relative;
display: block;
padding: 25px 15px;
color: #ff6915 !important;
height: auto;

}


.navbar-inverse .navbar-toggle{
    border: none !important; // override bootstrap
}

//uper nav
.fa-chevron-left:before {
    color: @orange !important; //overrideing font-awesome defaults
}
//top nav

.mainnav {
    height: 57px !important;
    background-color: @white !important;
}

.navbar-inverse.navbar-fixed-top{
-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
}

.navbar-nav > li > a {
    padding-top: 25px !important; // overrite bootstrap
}

.navbar-inverse .navbar-nav > li{
    padding: 0 7px 0;
}

.navbar-inverse .navbar-nav > li > a{
    color: @orange !important;

    &:hover{
        color:@Blu-main !important; 
    }
    &:visited{
        color: @orange !important;
    } 
}

// .navbar-inverse .navbar-nav > li > a:visited{
//         color:@Blu-main !important;
//     }



// ==================== google search tool ======================= //



.search {
    padding: 28px 0 0 30px;
    font-size: 1.3em;
}





// tbody {
// display: table-row-group;
// vertical-align: middle;
// border-color: inherit;
// }


.headlogo {
    width: 185px;
    margin-top:-15px;
}
.upperNavbar {
    height: 31.5px;
    
    
    color: @text-gray !important;
    .small;
    font-weight: normal;
    
    .phone-number {
        color: @Blu-main !important;
        font-weight: bold;
    }
    .upperNavbar-Box { 
        padding: 10px;
        //width: 35%;
        background-color: @mid-gray !important; 
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
    }
    .questionsTxt {
        color: @black;
        float:  left;
        display:inline;
    }

    .language {
        color: @text-gray !important;
    }

    .languageLink {
         color: #01bcd4 !important;
    }
   
}
/* scroll spy bottom border*/

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #fff !important;
    border-style: solid;
    border-width: 0px 0px 7px;
    -moz-border-image: url('../images/nav-icon.png') 0 0 27;
    -webkit-border-image: url('../images/nav-icon.png') 0 0 27;
    -o-border-image: url('../images/nav-icon.png') 0 0 27;
    border-image: url('../images/nav-icon.png') 0 0 27;

    .navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul > li > a:hover{
      color:blue !important;  
    }
    
    // border-bottom-style: solid;
    // border-bottom-width: 3px;
    // border-color: @orange;
}
/* */

.navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul {
    background-color: #fff;
}//adds backgorund color to drop nav im mobile view 

(max-width:768px) {
    .navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div {
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    body > div.navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul {
        margin: 0px !important;
    }
}
//  =============================== accordion =============================================== 
//plus button
.fa-2x {
    padding: 0 10px 0 0;
}
.panel-heading {
    margin: 20px 0;
    padding: 25px 10px !important;
}
.panel {
    border: 1px solid @box-gray;
    box-shadow: none !important;
}

.panelTitle {
    .Blu-text;
    .upperCase;
    font-size: 1em !important;
}

.panel-default > .panel-heading {
    background: transparent !important;
    font-size: 1em!important;
}

.panel-default, .panel-group{
    background: transparent !important;
}

#accordion > div > div.panel-heading > h4{
        font-size: 1em!important;
}
.panel-group .panel {
    border-left: none;
    border-right: none;
    border-radius: 0 !important; //override BS 
}
.panel-group .panel + .panel {
    margin: 0px !important; //override BS 
}
.moreDetails {
    margin-right: 15px;
    margin-top: -7px;
    text-transform: capitalize;
}
.content {
    margin: 0 auto;
    width: 80%;
    max-width: 1190px;
    margin-top: 45px;
}
.box {
    width: 100%;
    height: 50px;
}
// Regulators !!!! mount up....
.nogutter {
    padding: 0px !important;
}
.wrapper {
    width: 68%;
    margin: auto;
}


@media only screen and (max-width: 480px) {
    .moreDetails {
        margin-right:-65px;
        margin-top: -15px;
    }
    .panelTitle {
        margin-right: 65px;
    }



    }

/* value proposition componant */

#valuePropFeature{
    border-top-style: dotted;
    border-top-width: 2px;
    border-top-color: @Mid-Blu;
    padding: 22px 0 22px 0;

}

.valuevideothumb {
    width: 100px;
    margin-left: 20px;
}

.close{
    color: #eeeeee !important;
    background-color: #FFF !important;

}

#model-tool > div > div > div > div.modal-footer > button{
    color:#fff;
}

/* =============================== section 1 ================================================*/
#ModalDropdown > div > div > div{
    .dropButton {
        background-color: @white;
        height: 53px;
        border: 1px solid #cccccc;
        display: block; 
        -webkit-border-radius:4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        .droptext { 
            color: @text-gray;
            font-size: 250%;
            float: left;
            padding-left: 10px;
        }
    }
  
    button.ac-btn {
        backgrounf-color:#fff; 
        vertical-align: middle;
        padding: 5px 12px !important;
    }


    span > div > i{
        position:relative;
        top: -9px;
    }
} 




.nullyit{
    color: #8a8a8a;
    font-size: 250%;
    float: left;
    padding-left: 10px;
}




#section1{ 
    padding-top: 130px;
    padding-bottom: 40px;
    background: url("../images/section1-bg.png") repeat;
    
    .iconPNG {
        float:left; 
        margin-right: 20px;
    }
    .icontext {
        font-weight:300 !important; 
        margin-top: 35px;
        font-size: 24px;
    }
    .dropdown-menu {
        width: 100%;
    }
    .dropButton {
        background-color: @white;
        height: 53px;
        border: 1px solid #cccccc;
        display: block; 
        -webkit-border-radius:4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        .droptext { 
            color: @text-gray;
            font-size: 218%;
            float: left;
            padding-left: 10px;
        }
    }
  
    button.ac-btn {
        backgrounf-color:#fff; 
        vertical-align: middle;
        padding: 5px 12px !important;
    }


    span > div > i{
        position:relative;
        top: -9px;
    }


    .videoModalLink {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

     ul > li {
            list-style: none !important;
        }

    #ui-id-1 {
        background: #FFf;
        color: @blue-darkest;
        text-decoration: none;
        list-style: none !important;
        width: 30%;
        padding: 10 0 10px 0 !important;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #eee;
        ul > li {
            list-style: none !important;
        }
    }
    .ui-menu-item {
        padding: 10 0 10px 0 !important;
    }
    .content {
        margin: 0 auto;
        width: 75%;
        padding-bottom: 50px;   
    }

    .NACheckBox {
        float: left;
        display: inline-block;
        margin: 2px 12px;
         
    }
    #valuePropFeature > div.col-lg-9.col-md-9.col-sm-9.col-xs-12 > h4{
        margin-bottom: 5px
    }

    .icons {
        padding-top: 75px;
        // margin-bottom: 45px;
    }
    #sec1-video {
        display: block;
        margin: 0 auto;
    }
    #section1 > div > div.icons > div:nth-child(1) > div > div:nth-child(1) > div > img {
        height: 115px;
    } //fixes misalignment if icons
   
    .value-prop-copy {
        font-size: 13px;
        line-height: 19px;
    }
    .video-btn-copy {
        line-height: 13px !important;
        vertical-align: middle;
    }
    .scrolldown {
        width: 120px;
        font-weight: bolder !important;
        color: @nav-darkBlue !important;
        font-size: 18px;
        float: right;
        //     p, .fa-arrow-down: before {
        //     font-size: 11px;
        //     color: rgba(68, 68, 68, .5) !important;
        //     font-weight: bold;
        //     letter-spacing: -1px; //for a bold condensed look.
        //     word-spacing: -1px; //
        //     text-align: center;
        // }
    }

    .scrolldown.hidden-md.hidden-sm.hidden-xs > p{
     
    }

   
}
/* ======================== choose-partner ==================================== */

.choose-partner {
    background:url(../images/section1-bg.png) repeat;
    padding: 0 0 150px 0;

    .subCont{
        margin-top: 55px;
        p, li {
            font-size: 18px;
        }

        li {
            margin-left: 25px;
        }

    }

    h1{
        margin-top:0px !important;
        padding-top: 50px; 
    }


    h2 {
        margin: 30px 0 30px 0;
    }
    ul {
        margin: 20px 0 20px 0;
    }
    li {
        padding: 7px 0 7px 0;
    }
}


.sideBox{
    border-style: dotted;
    border-width: 2px;
    border-color:white;
    color:white;
    padding:10px;
    font-size: 1.1em;
    font-weight: 100;
    


    p{
        text-align: center !important;    
    }

    span.gc-cs-link{
        color:@white !important;
    }
}

/* =============================== section 2 ================================================*/

//auto complete module
.section2 {
    background: url("../images/section-2-bg.png") repeat;
    h1 {
        color: @h1-blue;
        margin-bottom: 15 px;
        text-align: left;
        
    }
  
    #dropDownToggle {
        color: @orange;
    }
    .caret {
        transform: scale(2, 2);
        position: relative;
        top: 9px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    p {
        margin-bottom: 50px;
    }
    .dropdown-toggle {
        height: 54px;
        width: 50px
    }
}
::-webkit-input-placeholder {
    font-size: 1em;
    color: #9e9e9e!important;
    
    font-weight: 100;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    font-size: 1em;
    color: #9e9e9e!important;
    
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    font-size: 1em;
    color: #9e9e9e!important;
    
}
:-ms-input-placeholder, {
    font-size: 1em;
    color: #9e9e9e!important;
    
}
input {
    font-family: inherit;
    font-size: 1em !important;
    // height: 54px !important;
}
form {
    margin: 20px 0 0px 0;
}
.form-group {
    margin-bottom: 5px;
}
/* =============================== section 3 ================================================*/

#section3 {

    background:url("../images/section-3-bg.png") repeat;
    padding-top: 60px;
    padding-bottom: 40px;

    a{
        color:@orange;
    }

    img {
        margin: 0 auto;
    }

    .panel-heading{
        padding:15px 0 !important;
    }

    .smallHeader{
        font-size: 70% !important;
    }

    #arz-plan-details{
        padding-bottom: 50px;
    }

  

    #arrow-left{
       position: relative;
        top: 762px;
        left: 24px;
        z-index: 50;
        width: 100px;
    }


    #arrow-right{
        position: relative;
        top: 762px;
        z-index: 50;
        width: 100px;
        right: 85px;
    }

    .seemoretext{
        width: 50px;
        color: gray;
        position: relative;
        top: 67px;
    }

    //left
    .seemoretext-left{
        left: 56px;
    }

    .seemoretext-right{
        right: 56px;
    }



    h1{
        font-size:56px !important;

    }

    h2{
        font-size:36px !important;
    }

    h3{
        font-size:22px!important;
    }

}

// #accordion > div:nth-child(1){
//     border-top: none;
// }


/* =============================== section 4 ================================================*/

#section4 {
    background: url("../images/section-3-bg.png") repeat;
    padding-top: 130px;

    h1,h2{
        font-weight: 100 !important;
    }
}


/* =============================== section 5 ================================================*/

#section5 {
    background-color: @blue-light;
   // background:url("../images/section-3-bg.png") repeat;
    padding-top: 130px;
    padding-bottom: 70px;

   
    .wrapper > button {
        display: block !important;
        margin: 0 auto !important;
    }

    a{
         color:@orange;
    }

    #presc-arrow-left{
       position: relative;
        top: 520px;
        left: 48px;
        z-index: 50;
        width: 100px;
    }


    #presc-arrow-right{
        position: relative;
        top: 520px;
        z-index: 50;
        width: 100px;
        right: 130px;
    }

    .seemoretext{
        width: 50px;
        color: gray;
        position: relative;
        top: 67px;
    }

    //left
    .seemoretext-left{
        left: 56px;
    }

    .seemoretext-right{
        right: 56px;
    }
}
/* =============================== section 6 ================================================*/

#section6 {
    background: url("../images/section-6-bg.png") repeat;
    background-color: @h1-blue;
    padding-top: 130px;
    padding-bottom: 70px;
    .buttongroup {
        padding: 20px 0;


        .sec6numbers{
            padding: 25px;
            margin: 0 auto;
        }

        h4{
            font-size: 16px;
        }
        
        
    }
    .dashedbox {
        color: @white;
        border: 1px dashed @white;
        padding: 8px 15px;
        -webkit-border-radius:6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
}



.bluedashedbox{
        color: @h1-blue;
        border: 1px dashed @h1-blue;
        padding: 8px 15px;
        -webkit-border-radius:6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
}
/* ================================== Footer =================================================*/

footer {
    background-color: @Blu-darker;
    height: 106px;
    .footer-logo {
        width: 150px;
        margin-top: 40px;
    }
    .img-footer-logo {
            background: url('../images/Footer_Logo.png') no-repeat;
            width: 128px;
            height: 26px;
            
    }
    .linkrow {
        margin-top: 45px;
        // width: 650px;
        // float: right;
        a {
            color: @white;
            float: left;
        }
        p {
            float: left;
            color: @Blu-powder;
            padding: 0 10px 0 10px;
        }
        .disclaimer {
            color: @Blu-powder;
            font-size: 11px;
        }
        .dropsprite {
            background: url('../images/Fat-Footer_Drop_Sprite.png') no-repeat;
            width: 26px;
            height: 26px;
            top: -17px;
            position: relative;
            .pull-right;
            &:hover {
                cursor: pointer;
            }
        }
        .dropsprite-up {
            background-position: 0px -27px;
        }
        .dropsprite-down {
            background-position: 0px 0px;
        }
    }
}
// ============================ Components =================================== 
// autocomplete comp  -> section 2
.autocomplete {
    h1 {
        color: @h1-blue;
        font-weight: 200;
        margin-top: 80px;
    }
    // ============================ Components =================================== 
    // autocomplete comp  -> section 2
    .autocomplete {
        background-color: @light-blue;
    }
    .autocomplete {
        h1 {
            color: @h1-blue;
            font-weight: 200;
            margin-top: 80px;
        }
        .center-block {
            width: 80%;
            height: 85px;
            margin-bottom: 45px !important;
        }
    }
    .center-block {
        width: 80%;
        height: 85px;
        margin-bottom: 45px !important;
    }
}

#section2{

    h1{
        margin-top: 62px;
    }

 .btn-warning {
  background: #ff6915;
  color: #fff;
  padding: 12px 35px;
  }
  .dropdown-menu {
    width: 100%;
  }
  .dropButton {
    background-color: @white;
    height: 53px;
    border: 1px solid #cccccc;
    display: block; 
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     .droptext { 
        color: @text-gray;
        font-size: 250%;
        float: left;
        padding-left: 10px;
     }
  }


    //ac-btn = text input dropdown caret 
    button.ac-btn{
        backgrounf-color:#fff; 
        vertical-align: middle;
        padding: 5px 12px !important;
    }


    span > div > i{
        position:relative;
        top: -9px;
    }
}


.videoModalLink {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

//autocomplet dropdown data styling 
#ui-id-1 {
    background: #FFf;
    color: @blue-darkest;
    text-decoration: none;
    list-style: none !important;
    width: 30%;
    padding: 10 0 10px 0 !important;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    ul > li {
        list-style: none !important;
    }
}
.ui-menu-item {
    padding: 10 0 10px 0 !important;
}
.content {
    margin: 0 auto;
    width: 75%;
    padding-bottom: 50px;   
}
//end of components
.box {
    width: 100%;
    height: 50px;
}


//buttons
button {
    text-transform: uppercase !important;
    background-color: @orange !important;
}
.btntxt {
    color: @white;
    text-align: center;
    font-weight: 300 !important; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 18px 15px !important;
}


.helpfulresources {
    border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    padding-top: 18px;
    padding-left: 6px;
    height: 100%;
    &:hover {
        transition: background-color 0.5s ease;
        background-color: @lt-gray;
        p {
            color: @drk-gray !important;
        }
    }
}
.glossary {
    border-top: @black solid 1px;
    padding-top: 10px;
    &:hover {
        transition: background-color 0.5s ease;
        background-color: @lt-gray;
        padding-bottom: 1px;
        p {
            color: @drk-gray !important;
        }
    }
}
.what-is-insurance {
    border-top: @black solid 1px;
    padding-top: 10px;
    &:hover {
        transition: background-color 0.5s ease;
        border-radius: 0px 0px 0px 20px;
        -webkit-border-radius: 0px 0px 0px 20px;
        -moz-border-radius: 0px 0px 0px 20px;
        background-color: @lt-gray;
        padding-bottom: 13px;
        p {
            color: @drk-gray !important;
        }
    }
}
.flyout-labels {
    float: left;
    width: 80px;
    img {
        width: 20px;
        display: block;
        margin: 0 auto;
    }
    p {
        .white;
        font-size: 10px;
        text-align: center;
    }
    hr {
        border-top: 1px solid @nav-darkBlue !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}


// .UHC-tooltip + .tooltip > .tooltip-inner {
//    // background-color: @white !important;
//      color: @Blu-text !important;
//  }

// =============================== VIDEO 
 
    

.player  {

padding-top:20px;
 width: 80%;
 margin: 0 auto;
height: auto;

}

//--------------------------------- MOBILE STYLES 



//---------------- Phone 


@media only screen and (max-width: 768px) {

    .wrapper, .content {
        width: 90%;
    }

    .opening {
        width: 100%;
    }
}


// ---- adjustments ------

#section1 > div > div:nth-child(3) > div.col-lg-2.col-md-2 > img{
    margin-top: 29px;
}

// #accordion > div:nth-child(1) > div.panel-heading{
//     border-top-style: solid;
//     border-top-radius: 0;
//     border-top-color: #DDD;
//     border-width: 1.33333337306976px;
// }


.bborder{
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: @Mid-Blu;
}

.left-border{
        border-left-style: dotted;
    border-left-width: 2px;
    border-left-color: @Mid-Blu;
}

#PlanTitle > a > img{
    margin-top: 15px;
}

.251{
    height: 251px !important;
}

#collapseOne > div > section > div > div:nth-child(1) > img{
    height: 251px !important;
}

#collapseOne > div > section > div > div > div > div.col-lg-12.col-md-12.col-sm-12 > div.col-lg-8.col-md-8.col-sm-8.col-xs-6 > p, #collapseOne > div > section > div > div > div > div.col-lg-12.col-md-12.col-sm-12 > div.col-lg-4.col-md-4.col-sm-4.col-xs-6 > p{
    margin: 0px !important;
    padding: 0px !important; 
}


body > div.navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div{
    width: 100%;
    margin: 0 auto;
    margin-left: 20px;
}

.feature-content{
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.feature-stats{
    margin-top: 15px;
    padding-top: 15px;

}


// ==================================================== search =============================================

// #search{
//     width: 100%;
//     display: block;
//     // margin-top: 60px;
//     background-color: gray;
// }

// =============== google search ====================== //  


.searchaBar{
    background: #fff;
    // padding: 28px 0 0 30px;
    font-size: 1.3em;
}


#gsc-iw-id1{
    height: 32px !important;
    border-color: #898989 !important;
}

input.gsc-search-button-v2{
    width: 71px !important;
    height: 29px !important;
}



/*AM22 - To make google search results tabs appear correct - START*/
.gsc-tabsArea div 
{
  // By default, Google custom search CSS sets it as AUTO, which shows scroll bars
  overflow: visible; 
}
/*AM22 - To make google search results tabs appear correct - END*/


#___gcse_0 > div > div > div.gsc-results-wrapper-overlay.gsc-results-wrapper-visible{
    height: 700px !important;
}

#networkBtn {width: 289px
}

#gs_tti50 {height: 35px !important;
}


#gsc-i-id1{
    background: transparent !important;
    height: 33px !important;
}

#search > div > div {padding-bottom: 0px;}

#gsc-iw-id1 {border-color: #eee !important;}

#gs_cb50{
    color:@orange;
}

// =========comparison table ==============

// .tftable {font-size:12px !important;width:89% !important;border-width: 1px !important;border-color: #e0e0e0 !important;border-collapse: collapse !important;}
// .tftable th {color:#003da1 !important;font-size:16px !important;border-width: 1px !important;padding: 8px !important; border-color: #bdbdbd !important;text-align: left !important; padding: 20px !important; vertical-align: middle !important; }
// .tftable tr {}
// .tftable td {color: #0277bb !important; font-size: 22px !important; font-weight: 300 !important; border-bottom: 2px dotted #bdbdbd !important; border-right: 1px solid #bdbdbd !important; padding: 20px 20px 18px 20px !important; vertical-align: middle !important;}
// .tier {color: #003da1 !important; font-size: 16px !important; font-weight: 700 !important;}
// .thnoborder {border-left: none !important;}


// print styles ============================================================================


@media only print{


//show accordions 
    #section4 > div:nth-child(2) > section, #sec5HiddenContent, #collapseOne, #collapseTwo, #collapseThreee{
        display: block !important;
    }


//hide images 
    #section1 > div > div:nth-child(3) > div.col-lg-2.col-md-2 > img, video, #section1 > div > div:nth-child(3), #section1 > div > div:nth-child(5) > div.col-lg-5.col-md-5.col-sm-5.col-xs-12 > a > img, #section1 > div > div:nth-child(5) > div.col-lg-6.col-md-6.col-sm-6.col-xs-12 > a > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(3) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(3) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(4) > td:nth-child(3) > img, #section1 > div > div:nth-child(3), #sec1btn-vid > img, #sec4-vid-btn > img, #sec6-vid-btn > img, #sec5-vid-btn > img, #claims-vid-btn > img{
        display: none !important;
    }

// image I should show on print 
    #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(2) > td:nth-child(2) > div > div > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(3) > td:nth-child(3) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(2) > td:nth-child(3) > div > div > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(4) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(4) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(5) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(6) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(3) > td:nth-child(2) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(4) > td:nth-child(3) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(5) > td:nth-child(3) > img, #collapseTwo > div.table-responsive > table > tbody > tr:nth-child(6) > td:nth-child(3) > img{
        display: block !important;
    }



}


// adjustmets to drop down modal 
#model-tool > div > div{
    #dropDownToggle{
        position: relative;
        top: -51px;
        right: -11px;
        height: 62px;
        width: 66px;
    }
    #dropDownToggle > i{
    position: relative !important;
    top:-5px !important;
    }
    #ModalDropdown > div > ul, .open > .dropdown-menu{
        width: 100% !important;
    }
}


// body > div.navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul > li:hover{
//     background: @lt-gray;
//     font-weight: bolder !important;
// }




// print styles ends =======================================================================

#ModalDropdownBlock_2, #ModalDropdownBlock_3, #ModalDropdownBlock_4, #ModalDropdownBlock_5, #ModalDropdownBlock_6, #ModalDropdownBlock_7, #ModalDropdownBlock_8, #ModalDropdownBlock_9, #ModalDropdownBlock_10, #ModalDropdownBlock_11, #ModalDropdownBlock_12, #ModalDropdownBlock_13, #ModalDropdownBlock_14, #ModalDropdownBlock_15, #ModalDropdownBlock_16 {
        padding-top: 46px !important;
    }

#ModalDropdown > div, #ModalDropdown2, #ModalDropdown3, #ModalDropdown4, #ModalDropdown5, #ModalDropdown6, #ModalDropdown7, #ModalDropdown8, #ModalDropdown9, #ModalDropdown10, #ModalDropdown11, #ModalDropdown12, #ModalDropdown13, #ModalDropdown14, #ModalDropdown15, #ModalDropdown16 {
        font-size: 28px !important;
        color: #8a8a8a !important;
        border: 2px solid #e0e0e0 !important;
        padding: 9px !important;
        border-radius: 4px !important;
    }

