//- [dash:data]
    {
        "status": "development",
        "category": "page",
        "label": "Home",
        "link": "../../index.html"
    }
    [/dash]
//- Homepage Markup
extend ./layouts/base


include ./components/UHC-mixins.jade  


block content
    include ./components/flyout.jade  
    include ./components/section1.jade
    include ./components/choose-right-partner.jade
    include ./components/section2.jade
    include ./components/section3.jade
    include ./components/section4.jade
    include ./components/section5.jade
    include ./components/section6.jade
    
                






                    

                        


