#myCarousel.carousel.slide(data-ride='carousel')
      //Indicators 
    ol.carousel-indicators
      li.(data-target='#myCarousel', data-slide-to='0')
      li.(data-target='#myCarousel', data-slide-to='1')
      li.active(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner(role='listbox')
      .item
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
        .container
          .carousel-caption
            h1 Example headline.
            p
              | Note: If you're viewing this page via a
              code file://
              | URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
      .item
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
        .container
          .carousel-caption
            h1 Another example headline.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Aprender más
      .item.active
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Third slide')
        .container
          .carousel-caption
            h1 One more for good measure.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next
