//- choosing the right partner section 
#choose-a-partner
	section.choose-partner
		.content
			h1.Blu-text La elección del socio en la salud adecuado  
			h2.Blu-text.SectionIntroText Cuando usted elige un plan de salud, está eligiendo más que un deducible y un copago: está eligiendo un socio para su salud.
			.row.subCont
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					P.Blu-text Un buen socio le brinda seguridad porque tiene reputación, experiencia y recursos. Le brinda:
					ul(style="padding-left:0px;")
						li.Blu-text Acceso a los médicos que usted necesita
						li.Blu-text Cobertura confiable de las recetas
						li.Blu-text Herramientas que le permiten manejar sus costos 
						li.Blu-text Servicios que hacen que mantener un estado de salud óptimo sea fácil

					
					p.Blu-text Averigüe cómo podemos ser ese socio en la salud a la vez que se informa sobre nuestros planes. 
							
				.col-lg-3.col-md-3.col-sm-12.sideBox
					p.white Si tiene preguntas, nos encantaría hablar con usted. Llámenos las 24 horas del día, los 7 días de la semana, al  <br>   <a href="tel:+184426127797"><b><span class="white">844-263-7797</span></b></a>
				
