

#FatFooter
    .iconrow.hidden-xs
        .container-fluid
            .row
                .col-lg-3.col-md-3.col-sm-3
                    .iconGroup
                        img.icon(src="images/Plans.png")
                        .title Nuestros <br> planes
                .col-lg-3.col-md-3.col-sm-3
                    .iconGroup
                        img.icon(src="images/map.png")
                        .title Médicos <br> &amp; hospitales
                .col-lg-3.col-md-3.col-sm-3
                    .iconGroup
                        img.icon(src="images/prescription.png")
                        .title Cobertura de medicanmentos <br> de venta con recta
                .col-lg-3.col-md-3.col-sm-3
                    .iconGroup
                        img.icon(src="images/clipboard.png")
                        .title Cómo <br> empezar
    .plan-listing
        .container-fluid
            .row
                .col-lg-3.col-md-3.col-sm-3
                    .plantitle Planes platino
                    .disclaimer (PDFs of Summary of Benefits and Coverage)
                    .spacer
                    a(href="").planlink 
                        | Platinum Compass Plus 250
                        .fa.fa-download
                    a(href="").planlink 
                        | Platinum Compass Plus 500
                        .fa.fa-download
                    .spacer
                    .plantitle Planes oro
                    .disclaimer (PDFs of Summary of Benefits and Coverage)
                    .spacer
                    a(href="").planlink 
                        | Gold Compass Plus 1250
                        .fa.fa-download
                    a(href="").planlink 
                        | Gold Compass Plus 500
                        .fa.fa-download
                    .spacer
                    .spacer
                    
                .col-lg-3.col-md-3.col-sm-3
                    .plantitle Planes plata
                    .disclaimer (PDFs of Summary of Benefits and Coverage)
                    .spacer
                    a(href="").planlink 
                        | Silver Compass Plus 3500
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 2600
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 2500
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 2000 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 1900 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 1600 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 1200 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 1100  
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 550 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 250-2 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 250-1 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 150-2 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 150-1 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 100-2 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus 100-1 
                        .fa.fa-download
                    a(href="").planlink 
                        | Silver Compass Plus HSA 75 
                        .fa.fa-download
                    .spacer
                    .spacer
                .col-lg-3.col-md-3.col-sm-3
                    .plantitle Planes bronce
                    .disclaimer (PDFs of Summary of Benefits and Coverage)
                    .spacer
                    a(href="").planlink 
                        | Bronze Compass Plus 5500
                        .fa.fa-download
                    a(href="").planlink 
                        | Bronze Compass Plus HSA 5500
                        .fa.fa-download
                    .spacer
                    .spacer
                    .plantitle Planes Catastrófica
                    .disclaimer (PDFs of Summary of Benefits and Coverage)
                    .spacer
                    a(href="").planlink 
                        | Catastrophic Compass Plus 6600
                        .fa.fa-download
                    .spacer
                    
                .col-lg-3.col-md-3.col-sm-3
                    .plantitle Beneficios para Miembros
                    .spacer
                    a(href="").planlink 
                        | myuhc.com Demo
                    a(href="").planlink 
                        | Video de la aplicación móvil Health4Me
                    a(href="").planlink 
                        | myHealthcare Video de myHealthcare Cost Estimator
                    a(href="").planlink 
                        | Video de myClaims Manager
                    .spacer
                    .spacer
                    .spacer
                    .plantitle Recursos para una Vida Saludable
                    .spacer
                    a(href="").planlink UHC.TV
                    a(href="").planlink Storytellers
                    a(href="").planlink Source4Women para mujeres&reg;
    .outreach
        .container-fluid 
            .row
                .col-lg-9.col-md-9
                    .outreach-text
                        | ¿Tiene preguntas sobre un plan o necesita ayuda para inscribirse? Llámenos las 24 horas del día, los 7 días de la semana, al 844-263-7797. <br> Si tiene una emergencia médica, llame al 911.    
                    .disclaimer Este sitio web es operado por UnitedHealthcare y no es el sitio web del Mercado de Seguros de Salud. El seguro es ofrecido por All Savers Insurance Company..
                .col-lg-3.col-md-3
                    .disclaimer Para servicio al cliente en espa&ntilde;ol, llame al 844-263-7797.
 

                    
                