#flyout.animated.bounceInRight.hidden-xs.hidden-sm
    .flyout-labels
        .helpfulresources
            img(src="images/Icon_HelpfulResources.png")
            p Recursos <br> útiles
        
        .glossary
            img(src="images/Icon_AZ.png")
            p Glosario <br> de términos
        
        .what-is-insurance
            img(src="images/Icon_101.png")
            p Aspectos básicos <br> de la reforma de la salud


    .flyout-links
        ul
            li
                a(href="#") Healthcare.gov
            li
                a(href="#") Just Plain Clear&copy;
            li 
                a(href="#") Glossary
            li 
                a(href="#") Health Care Reform 101
            li
                a(href="#") Kaiser Family
            li
                a(href="#") Foundation:
            li 
                a(href="#") Understanding Health Reform
            li
                a(href="#") WebMD: Health Care
            li 
                a(href="#") Reform in Arizona
            li
                a(href="#") UHC.TV
