footer
    .container
        img(src="images/Footer_Logo.png").footer-logo.hidden-xs
        .linkrow
            .dropsprite.dropsprite-down
            a(href="#") UHC.com  
            p |  
            a(href="#") myUHC.com
            p |
            a(href="#") UHone.com
            p |
            a(href="#") Privacidad/Legal
            p |
            .disclaimer &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> United HealthCare Services, Inc.

   
    
    include ./FatFooter.jade
    +footerDisclaimer