//this first instance of the accordion is used on the homepage using an include. copy, paste and edit in a seperate doc for future instances
.content
  #accordion.panel-group
      .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | Need help understanding deductibles and co-insurance?
                +moreDetails('#collapseOne')
          #collapseOne.panel-collapse.collapse
            .panel-body
                .col-lg-9
                  p.Blu-text Deductibles and co-insurance are two kinds of out-of-pocket costs – what you pay when you receive care. Deductible is the amount you pay for your health care before your insurance plan begins to pay. 
                  p.Blu-text Co-insurance begins once you reach your deductible. That’s when you and your plan begin to share the cost of your covered services. If you meet your out-of-pocket limit – the most you have to pay out of pocket in a year – then your plan pays 100% of your eligible expenses.
                  p.Blu-text This example follows Jane over the course of a year, showing how she meets her deductible, then eventually her out-of-pocket limit.

                +chart

        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | Want to learn about “metallic levels?”

                +moreDetails('#collapseTwo')

          #collapseTwo.panel-collapse.collapse
            .panel-body
              .col-lg-10
                  p.Blu-text Plans on the Marketplace are sorted into five categories or “metal levels.” The levels represent the share of total costs an average person would pay for that plan. This includes monthly premiums, deductibles, co-payments, co-insurance and out-of-pocket limits. 
                  p.Blu-text The actual percentage you’ll pay in total or for each service will depend on the actual care you receive. In general, the less you pay in premiums per month, the more you pay out of pocket when you receive care. 

             +metallicChart('Total monthly costs','Cost per doctor appt. or prescription','Best if flyout.jade')
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                | See Summary of Benefits and Coverage documents 
                +moreDetails('#collapseThree')
          #collapseThree.panel-collapse.collapse
            .panel-body
              
              
section(style="margin: 15px 0 15px 0")
                h5.Blu-text.bold Platinum Plan 
                a.orange(href="#") UnitedHealthcare Platinum Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
                  br
                h5.Blu-text.bold Gold Plans
                a.orange(href="#") UnitedHealthcare Gold Compass Plus - 1250 (PDF) <i class="fa fa-download"></i>
                br 
                a.orange(href="#") UnitedHealthcare Gold Compass Plus - 500 (PDF) <i class="fa fa-download"></i>
              section(style="margin: 15px 0 15px 0")    
                h5.Blu-text.bold Silver Plans
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 100-1 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 100-2 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 1200 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 2000 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250-1 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250-2 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus - 2500 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus - 3500 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 1100 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 150-1 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 150-2 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 1600 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 1900 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 2600 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 550 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 75 (PDF) <i class="fa fa-download"></i>
                  br
              section(style="margin: 15px 0 15px 0")

                h5.Blu-text.bold Bronze Plans
                a.orange(href="#") UnitedHealthcare Bronze Compass Plus - 5500 (PDF) <i class="fa fa-download"></i>
                br
                a.orange(href="#") UnitedHealthcare Bronze Compass Plus HSA - 4900 (PDF) <i class="fa fa-download"></i>
                
              

              h5.Blu-text.bold Catastrophic Plan
              a.orange(href="#") UnitedHealthcare Catastrophic Compass Plus - 6600 (PDF) <i class="fa fa-download"></i>
                br
              
              hr
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                | View a sample insurance policy
                +moreDetails('#collapseFour')
          #collapseFour.panel-collapse.collapse
            .panel-body
                p.Blu-text This is an example of an insurance policy – please use this information only as a general reference. You will receive the actual policy for the plan you select once you become a member. Insurance in Arizona is offered by All Savers Insurance Company. <br> <a href="../documents/ExamplePolicy.pdf" target="_blank" class="orange">View sample policy (PDF) <i class="fa fa-download"></i></a>
              

