//this first instance of the accordion is used on the homepage using an include. copy, paste and edit in a seperate doc for future instances
.content
  #accordion.panel-group
      .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | ¿Necesita ayuda para comprender los deducibles y el coaseguro?
                +moreDetails('#collapseOne')
          #collapseOne.panel-collapse.collapse
            .panel-body
                .col-lg-9
                  p.Blu-text Los deducibles y el coaseguro son dos tipos de gastos directos de su bolsillo: lo que usted paga cuando recibe atención. El deducible es la cantidad que usted paga por la atención de la salud antes de que su plan de seguro comience a pagar.  
                  p.Blu-text El coaseguro comienza una vez que usted alcanza su deducible. Es cuando usted y el plan comienzan a compartir el costo de sus servicios cubiertos. Si llega al límite de gastos directos de su bolsillo (el máximo que tiene que pagar de su bolsillo en un año), su plan pagará el 100% de sus gastos elegibles.
                  p.Blu-text El siguiente ejemplo sigue a Jane en el transcurso de un año, mostrando cómo cumple con el deducible hasta llegar al límite de gastos directos de su bolsillo.

                +chart

        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | ¿Desea saber cuáles son los niveles “metálicos”?

                +moreDetails('#collapseTwo')

          #collapseTwo.panel-collapse.collapse
            .panel-body
              .col-lg-10
                  p.Blu-text Los planes del healthcare.gov en cinco categorías o niveles “metálicos”. Estos niveles representan la parte del costo total que una persona promedio pagaría por ese plan. Esto incluye primas mensuales, deducibles, copagos, coaseguro y máximo de gastos directos de su bolsillo. 
                  p.Blu-text El porcentaje real que usted pagará en total o por cada servicio dependerá de la atención específica que usted reciba. En líneas generales, cuanto más baja sea la prima que usted paga por mes, mayores serán los gastos directos de su bolsillo cada vez que reciba atención. 

             +metallicChart('Costo mensual total','Costo cuando recibe atención','Best if flyout.jade')
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                | Consulte el documento Resumen de Beneficios y Cobertura  
                +moreDetails('#collapseThree')
          #collapseThree.panel-collapse.collapse
            .panel-body
              
              

              section(style="margin: 15px 0 15px 0")
                h5.Blu-text.bold Planes Platino 
                a.orange(href="#") UnitedHealthcare Platinum Compass Plus - 250 (PDF) <i class="fa fa-download"></i>
                  br
                h5.Blu-text.bold Planes Oro
                a.orange(href="#") UnitedHealthcare Gold Compass Plus - 1250 (PDF) <i class="fa fa-download"></i>
                br 
                a.orange(href="#") UnitedHealthcare Gold Compass Plus - 500 (PDF) <i class="fa fa-download"></i>
              section(style="margin: 15px 0 15px 0")    
                h5.Blu-text.bold Planes Plata
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 100-1 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 100-2 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 1200 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 2000 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250-1 (PDF) <i class="fa fa-download"></i>
                  br
                a.orange(href="#") UnitedHealthcare Silver Compass Plus - 250-2 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus - 2500 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus - 3500 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 1100 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 150-1 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 150-2 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 1600 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 1900 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 2600 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 550 (PDF) <i class="fa fa-download"></i>
                  br
                  a.orange(href="#") UnitedHealthcare Silver Compass Plus HSA - 75 (PDF) <i class="fa fa-download"></i>
                  br
              section(style="margin: 15px 0 15px 0")

                h5.Blu-text.bold Planes Bronce
                a.orange(href="#") UnitedHealthcare Bronze Compass Plus - 5500 (PDF) <i class="fa fa-download"></i>
                br
                a.orange(href="#") UnitedHealthcare Bronze Compass Plus HSA - 4900 (PDF) <i class="fa fa-download"></i>
                
              

              h5.Blu-text.bold Planes de Cobertura Catastrófica
              a.orange(href="#") UnitedHealthcare Catastrophic Compass Plus - 6600 (PDF) <i class="fa fa-download"></i>
                br
              
              hr
        .panel.panel-default
          .panel-heading
            h4
              .panelTitle(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                | Vea un ejemplo de la póliza de seguro
                +moreDetails('#collapseFour')
          #collapseFour.panel-collapse.collapse
            .panel-body
                p.Blu-text Este es un ejemplo de una póliza de seguro, use esta información solamente como referencia general. Recibirá la póliza verdadera correspondiente al plan que seleccione una vez que sea miembro del plan. El seguro en Arizona es ofrecido por All Savers Insurance Company. <br> <a href="../documents/ExamplePolicy.pdf" target="_blank" class="orange"> Ver una póliza de ejemplo (PDF) <i class="fa fa-download"></i></a>
              

