// MobileTable
.content
    .Title.hidden-lg.hidden-md Vea los detalles
#PlansListMobile.visible-xs-block


script( id="PlansListMobileTemplate" type="text/x-handlebars-template")
    {{#each AZPlans}}
    .row
        .col-xs-12.MobilePlanItem
            a(href="{{PlanURL}}").MobilePlanLink
                h2.MobilePlanCopy {{PlanNameShort}} <i class="fa fa-chevron-right orange"></i>
    {{/each}}
    br