// - product-details-table

#ProductDetailsFilterBar.row.hidden-xs
	.FilterTitle.col-lg-2.col-md-3.col-sm-2
		.FilterTitle-text Planes que se muestran 
	.FilterSection.col-lg-3.col-md-3.col-sm-2
		.Ind-and-Fam
			input(id="FamRadio" type='radio' name='Fam-Or-Ind' value='0' checked).radio-inline
			.labelcopy Familiar e individual
	.FilterSection.col-lg-3.col-md-3.col-sm-2
		.Ind-Only
			input(id="IndRadio" type='radio' name='Ind-Only' value='1').radio-inline
			.labelcopy Individual solamente
	.Filter3.col-lg-3.col-md-3.col-sm-12
		.deduct-sort
			a(href="#").deduct-content.Blu-text <span class="fa fa-print accentBlue"></span> Imprimir

#ProductDetailsTable
	.deductableRow.row.SolidBottom.SolidTop
			.DedTitleCell.col-md-2.col-sm-3.col-xs-12
				.Title Deducible general 
				.Sub (por año)
			.col-md-9.col-sm-9.col-xs-12
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-3.col-xs-2
						p.Sub Dentro de la red 
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-2.col-xs-3
						p.number {{DedInFam}}
							.NumSub {{DedInFamNote}}
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-xs-3
						p.number {{DedInInd}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Fuera de la red
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-3.col-xs-3
						p.number {{DedOutFam}}
							.NumSub {{DedOutFamNote}}
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-xs-3
						p.number {{DedOutInd}}
				.row.DottedLeft
					.type-cell.col-md-2.SolidRight.minheight.col-sm-3.col-xs-2
						p.Sub Presc<i class="visible-xs" style="height: 0px;"> <br> </i>ription
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-2.col-xs-3
						p.number {{OOPOutInd}}
							.NumSub 
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-xs-3
						p.number {{OOPOutFam}}
			.why-cell.col-md-1
				.whygroup(id="dedwhy" data-toggle="modal" data-target="#DeductableModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante
		.OOPRow.row.SolidBottom
			.OOPTitleCell.col-md-2.col-xs-12
				.Title Límite de gastos directos de su bolsillo
				.Sub (por año)
			.col-md-9.col-xs-12
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Dentro de la red 
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-3.col-xs-3
						p.number {{OOPInInd}}
							.NumSub
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-sm-3.col-xs-3
						p.number {{OOPInFam}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Fuera de la red
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-3.col-xs-3
						p.number {{OOPOutFam}}
							.NumSub
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-sm-3.col-xs-3
						p.number {{OOPOutInd}}
				.row.DottedLeft
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub No incluido en el límite
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.cell-copy {{NotOOP}}
			.why-cell.col-md-1
				.whygroup(data-toggle="modal" data-target="#OOPModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante
			.ScriptRow.row.SolidBottom
			.ScriptTitleCell.col-md-2.col-xs-12
				.Title Cobertura de medicamentos de venta con receta
			.col-md-9.col-xs-12
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Nivel 1
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.number {{Tier1}} 
						p.cell-copy.lower {{Tier1Type}}
						p.NumSub &nbsp; {{Tier1Note}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Nivel 2
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.number {{Tier2}} 
						p.cell-copy.lower {{Tier2Type}}
						p.NumSub &nbsp; {{Tier2Note}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Nivel 3
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.number {{Tier3}} 
						p.cell-copy.lower {{Tier3Type}}
						p.NumSub &nbsp; {{Tier3Note}}
				.row.DottedLeft
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Nivel 4
					.col-md-10.SolidRight.minheight.value-.col-sm-10.col-xs-10
						p.number {{Tier4}} 
						p.cell-copy.lower {{Tier4Type}}
						p.NumSub &nbsp; {{Tier4Note}}
			.why-cell.col-md-1
				.whygroup(data-toggle="modal" data-target="#PrescriptionModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante
		.AnnLimtRow.row.SolidBottom
			.col-lg-4.SolidRight.col-md-8.col-sm-8.col-xs-8
				.Title2 ¿Hay un límite anual general en lo que paga el plan?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{AnnualLimit}}
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#AnnualLimitModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante
		.UseNetworkRow.row.SolidBottom
			.col-lg-4.SolidRight.col-sm-8.col-xs-8
				.Title2 ¿Usa este plan una red de proveedores?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{NetworkProviders}}
				.pull-right.orange.hidden-xs.hidden-sm.hidden-md(style="padding:10px 20px 0 0;") Buscar en la red <i class="fa fa-external-link"></i>
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#NetworkModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante

		.NeedReferralRow.row.SolidBottom
			.col-lg-4.col-md-8.SolidRight.col-sm-8.col-xs-8
				.Title2 ¿Necesito una referencia para ver a un especialista?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{Referral}}
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#ReferralModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante
		.NoServiceRow.row.SolidBottom
			.col-lg-4.col-md-8.SolidRight.col-sm-8.col-xs-8
				.Title2 ¿Hay servicios que este plan no cubra?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{NotCovered}}
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#ServicesModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Por qué Esto Es <br> Importante
	




//---- DEDUCTABLE MODAL

#DeductableModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					.orange(aria-hidden='true') ×
				h4.modal-title Deducible general 	
			.modal-body
				p.Blu-text Debe pagar todos los costos hasta alcanzar el deducible para que este plan comience a pagar los servicios cubiertos que usted use. Consulte el documento de su póliza o plan para ver cuándo vuelve a comenzar el deducible (generalmente, pero no siempre, en enero 1). Consulte la tabla que comienza en la página 2 del Resumen de Beneficios y Cobertura para ver cuánto pagará por servicios cubiertos después de cumplir con el deducible.

#OOPModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close.orange(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Límite de gastos directos de su bolsillo
			.modal-body
				p.Blu-text El límite de gastos directos de su bolsillo es lo máximo que usted podría pagar durante un período de cobertura (generalmente un año) por su parte del costo de los servicios cubiertos. Este límite le ayuda a prever los gastos de atención de la salud.

#PrescriptionModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Cobertura de medicamentos de venta con receta	
			.modal-body
				p.Blu-text A los efectos de esta sección, proveedor significa farmacia. Venta al por Menor: Un suministro de hasta 31 días. Es posible que necesite obtener ciertos medicamentos, incluidos ciertos medicamentos especializados, de una farmacia que designemos. Es posible que ciertos medicamentos tengan un requisito de autorización previa y que, de no cumplirse, estén sujetos a un costo mayor. Si usa una Farmacia Fuera de la Red, es posible que usted sea responsable de cualquier cantidad que exceda la cantidad permitida. Los anticonceptivos del Nivel 1 están cubiertos Sin Cargo. Visite el sitio de Internet mencionado para obtener información sobre los medicamentos que cubre su plan. No todos los medicamentos están cubiertos. No se aplica el Deducible de Farmacia a los medicamentos del Nivel 1 y 2.



#AnnualLimitModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title ¿Hay un límite anual general en lo que paga el plan?
			.modal-body
				p.Blu-text La tabla que comienza en la página 2 del Resumen de Beneficios y Cobertura describe los límites en lo que pagará el plan por servicios cubiertos específicos, como visitas al consultorio.

#NetworkModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title. ¿Usa este plan una red de proveedores?
			.modal-body
				p.Blu-text Si va a un médico u otro proveedor de atención de la salud dentro de la red, este plan pagará la totalidad o parte de los costos de los servicios cubiertos. Tenga en cuenta que su médico u hospital dentro de la red podría usar un proveedor fuera de la red para algunos servicios. Para referirse a los proveedores participantes de sus redes, los planes usan los términos proveedores dentro de la red, preferidos o participantes. Consulte la tabla que comienza en la página 2 del Resumen de Beneficios y Cobertura para ver cómo paga este plan a diferentes tipos de proveedores.

#ReferralModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title ¿Necesito una referencia para ver a un especialista?
			.modal-body
				p.Blu-text Este plan pagará la totalidad o parte de los costos de un especialista pero sólo si usted tiene la autorización del plan antes de ir al especialista.

#ServicesModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title ¿Hay servicios que este plan no cubra?
			.modal-body
				p.Blu-text Algunos de los servicios que este plan no cubre se enumeran en la página 5 del Resumen de Beneficios y Cobertura. Consulte el documento de su póliza o plan para ver más información sobre servicios excluidos.




