// Plan Details Sub Page Bottom Content Mixin 
.content
            .Blu-text(style="margin: 0 auto;")
                br
                h4.bold.Blu-text CON ESTE PLAN, USTED:
                br 
                ul
                    li Selecciona un “médico de atención primaria”, el médico principal que se ocupará de su cuidado. 
                    li No necesita una referencia para ir a un especialista. Sin embargo, su copago será menor si su médico de atención primaria le da una referencia.
                    li Ahorra dinero al usar la red del plan para médicos, hospitales, farmacias y clínicas de calidad. Pagará una parte mayor de los costos fuera de la red.
                    li Tiene un límite de gastos directos de su bolsillo: lo máximo que pagará durante el año del plan por los servicios cubiertos. Si usted alcanza el límite, el plan pagará el 100% de los servicios cubiertos durante el resto del año del plan.
            p.lightGray.small Este es solo un resumen. Para ver más información sobre su cobertura y sus costos llámenos las 24 horas del día, los 7 días de la semana al <a href="tel:8442637797" class="">844-263-7797</a>. El seguro es ofrecido por All Savers Insurance Company. 
    include ./helathcarePlans-accordion                    

#BlueBottom
        .content
            h4.SubHeadText Ayuda para llevar la vida más saludable
            p.Blu-text Como miembro de UnitedHealthcare, usted tendrá recursos para ayudarle a llevar la vida más saludable posible y para controlar sus costos. Con una combinación de información, recordatorios y herramientas, mantenerse saludable y aprovechar al máximo la atención de la salud es más fácil. <a href="#" class="orange">Haga un recorrido <i class="fa fa-external-link"> </i>  </a>
            .player
            //- video#SubPage-video(preload='metadata', controls='controls')
            //-     source(src="../../videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
            //-     source(src='../../videos/CostEstimator/Cost-Estimator.webm', type='video/webm')
            //-     source(src='../../videos/CostEstimator/Cost-Estimator.ogv', type='video/ogg') 

            video(preload='metadata', controls='controls' class="")
                source(src="./videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
                source(src='./videos/ToolToSucceed/ToolsToSucceed.webm', type='video/webm')
                source(src='./videos/ToolToSucceed/ToolsToSucceed.ogv', type='video/ogg')
            p.Blu-text Vea más videos de UnitedHealthcare en <a href="http://www.uhc.tv" target="_blank" class="orange">UHC.tv</a> y <a href="http://www.uhc.com/storytellers.htm" target="_blank" class="orange">Storytellers</a>



