#PrescriptCarousel.hidden-xs.container-fluid
    #FilterBar.row
        .FilterTitle.col-lg-3.col-md-3.col-sm-2
            .filtertitle-text Planes que se muestran:
            a(href="").resetOpt restablecer filtros
        .Filter1.FilterSection.col-lg-6.col-md-6.col-sm-8
            .col1
                .CatastrophicFilter.MetalicFilter
                    input(type='checkbox' name='Catastrophic' checked).checkbox-inline
                    .labelcopy Catastrófica
                .BronzeFilter.MetalicFilter
                    input(type='checkbox' name='Bronze' checked).checkbox-inline
                    .labelcopy Bronce
            .col2
                .SilverFilter.MetalicFilter
                    input(type='checkbox' name='Silver' checked).checkbox-inline
                    .labelcopy Plata
                .GoldFilter.MetalicFilter
                    input(type='checkbox' name='Gold' checked).checkbox-inline
                    .labelcopy Oro
            .col3    
                .PlatinumFilter.MetalicFilter
                    input(type='checkbox' name='Platinum' checked).checkbox-inline
                    .labelcopy Platino
                .HSAFilter.MetalicFilter
                    input(type='checkbox' name='HSA' ).checkbox-inline
                    .labelcopy HSA
        .Filter3.col-lg-3.col-md-3.col-sm-
            .deduct-sort
                .deduct-content <span class="fa fa-angle-double-up"></span> Ordenar de Catastrófica a Platino
            

    #KeyBar 
        .planKey
            .inNetwork 
                .inNetworkCopy Dentro de la red 
                .inNetworkSearch 
                    .small Buscar <span class="fa fa-search"></span>
            .plan-head
                .script-deduct-title
                    .PlanName-Title Receta <br> deducible
                    .PlanName-Sub (por persona)
            .plan-head
                .script-coverage-title
                    .PlanName-Title Cobertura de medicamentos <br> de venta con receta
                .typerow
                    .fam 
                        p Nivel 1
                    .ind
                        p Nivel 2
                    .fam 
                        p Nivel 3
                    .ind
                        p Nivel 4


     #Plans
        #plansWidth

    script( id="cont" type="text/x-handlebars-template")
         {{#each AZPlans}}
         .planOption
             .planName
                 .PlanName-Title {{this.PlanName}}
                 .PlanName-Sub PPO | {{this.MetallicLevel}}
            
             .Deduct-Fam {{this.DedInFam}}
             .scriptTier {{this.Tier1}}
             .scriptTier {{this.Tier2}}
             .scriptTier {{this.Tier3}}
             .scriptTier {{this.Tier4}}
             .SBCLink
                 a(href="#") Imprimir Resumen de Beneficios y Cobertura completo (PDF)
                     .fa.fa-download
             .viewDetails
                 a(href="#").PlanDetails-btn Ver detalles

         {{/each}}