#section3
    a.hidden-sm.hidden-xs(id="arrow-left")
        i.fa.fa-angle-left.fa-5x.pull-left

    a.hidden-sm.hidden-xs(id="arrow-right")
        i.fa.fa-angle-right.fa-5x.pull-right

    a(href="#section3")
    .content
            h1.Blu-text Nuestros planes de salud en Arizona
            h2.Blu-text
                | Ofrecemos planes en todos los niveles “metálicos” en healthcare.gov, con opciones para personas solas y familias. 
                +seemore('arz-seemore-btn','orange')
            br
            +plan-details('Con cada uno de nuestros planes, usted:','Selecciona un “médico de atención primaria”, el médico principal que se ocupará de su cuidado.','Ahorra dinero al usar la red del plan para médicos, hospitales, farmacias y clínicas de calidad. Pagará una parte mayor de los costos fuera de la red.','No necesita una referencia para ir a un especialista. Sin embargo, su copago será menor si su médico de atención primaria le da una referencia.',' No paga nada por la atención preventiva que reciba de su médico de atención primaria, como un examen anual, los exámenes de la salud general y las vacunas.','arz-plan-details')    
                
    include ./TableCarousel
    .content
        include ./MobileTable
    
    .content
        .row
            .col-lg-9.col-md-12.col-sm-12.col-xs-12
                p.blue-darkest Los planes también tienen diferentes costos para ciertos cuidados, como visitas a la sala de emergencias y servicios de rehabilitación. Estos detalles están en el Resumen de Beneficios y Cobertura de cada plan.
                <br>
                p.blue-darkest Recuerde que también pagará una prima mensual por su plan de salud. Puede ver un cálculo de la prima en healthcare.gov, una vez que haya determinado su elegibilidad para los subsidios. Generalmente, si paga una prima más alta por mes, pagará menos de su bolsillo cuando reciba atención. Si paga una prima baja, pagará más de su bolsillo por la atención.
                <br>
                p.lightGray.small Este es solo un resumen. Para ver más información sobre su cobertura y sus costos, llámenos las 24 horas del día, los 7 días de la semana al <a href="tel:8442637797" class="">844-263-7797</a>. El seguro es ofrecido por All Savers Insurance Company.
    include ./helathcarePlans-accordion

    .content(style="margin-top:120px;")                 

        +valuePropositionFeature('images/file-symbol.png',
                        'Sus reclamos: organizados y a la mano', 'El myClaims Manager en línea organiza sus reclamos para que pueda consultarlos con facilidad. Vea sus reclamos, el estado actual de cada uno y las cantidades que debe. Puede filtrar los reclamos por tipo, fecha y miembro de familia. Incluso puede exportar su información para guardarla y usarla como desee. Haga un recorrido','Blu-text','sec3-vid-btn','orange','images/Claims_Video_Thumb.png')
        .player
                video#video-player-sec3(preload='metadata', controls='controls' class="sec-3-vid")
                    source(src="../../videos/MyClaims/myclaims.mp4", type="video/mp4")
                    source(src='../../videos/MyClaims/myclaims.webm', type='video/webm')
                    source(src='../../videos/MyClaims/myclaims.ogv', type='video/ogg')


            
