#section4
	a(href="#section4")
	.content
		.div(style="margin-bottom:95px;")
			h1.white Nuestra red de médicos y hospitales	
			h2.white Nuestros planes de salud ofrecen una red de médicos, farmacias, hospitales y clínicas de calidad, más de 5,400 médicos y 6,000 establecimientos en todo el estado.<sup>*</sup> 
				+seemore('sec4seeMoreBTn','white')
		section.col-lg-9.sec4-hidden-cont.white(style="margin-bottom:25px;")
			p.white Su cobertura empieza por seleccionar un médico principal dentro de la red. Es el médico que le brinda cuidado regular, como exámenes anuales o el control de una condición crónica que usted podría tener. Este médico se asegura de que usted reciba el cuidado correcto en el tiempo justo. No necesita una referencia para visitar a un especialista, pero su copago será menor si su médico de atención primaria le da una referencia.
			p.white Con profesionales de calidad en cada condado y establecimientos en todo el estado, usted tendrá acceso a:
			ul
				li Más de 2,800 médicos de atención primaria  
				li Más de 2,600 especialistas  
				li 72 hospitales generales de atención de condiciones agudas
				li Más de 1,000 farmacias

			p.white Usted también tendrá acceso las 24 horas a una enfermera registrada si llama a la línea NurseLine. Las enfermeras pueden ayudarle a decidir dónde y cuándo buscar cuidado, encontrar el médico adecuado y responder preguntas sobre sus medicamentos. Además, puede conversar con las enfermeras en el sitio web myuhc.com.

			h3.white Atención y ahorros
			p.white Su red es importante, porque incluye a médicos confiables que brindan un cuidado de calidad comprobado. Usted también ahorra dinero, porque los proveedores de la red han aceptado cobrar precios más bajos.  
			p.white Obtendrá mayor beneficio de su plan cuando visite a los proveedores que están en la red, porque la mayoría de sus costos estarán cubiertos. Generalmente, pagará una parte mayor de los costos cuando reciba servicios fuera de la red.


		.row
			.nextsteps
				img.placeholderbox.col-lg-8.col-md-8.col-sm-8.col-xs-12(src='images/map-symbol.png')
				.col-lg-3.col-md-3.col-sm-3.col-xs-12(style="margin-top:15%;")

					p.white Busque médicos, farmacias, hospitales y clínicas en la red de Compass Plus desde nuestro sitio de búsqueda de proveedores.  

					button.btn.btn-warning.btn-lg.btntxt(type='submit') Explore la red          
	.content(style="padding-top:120px; padding-bottom:100px; ")                 
		+valuePropositionFeature('images/phone-symbol.png','Health4Me, su plan adondequiera que usted vaya', 'La aplicación Health4Me le permite llevar el plan en el bolsillo. Busque beneficios, consulte condiciones y encuentre médicos, clínicas, hospitales y centros de atención de urgencia en las cercanías. De este modo, cuando se presente una enfermedad inesperada, siempre podrá conectarse con la atención que necesite adondequiera que usted esté.','Blu-text','sec4-vid-btn','white','images/Health4Me_Video_Thumb.png')
		.player
			video#sec4-video(preload='metadata', controls='controls' class="sec-3-vid")
				source(src="./videos/MyClaims/myclaims.mp4", type="video/mp4")
				source(src='./videos/MyClaims/myclaims.webm', type='video/webm')
				source(src='./videos/MyClaims/myclaims.ogv', type='video/ogg')
	.content
		p.white.small *Datos estadísticos de la red de UnitedHealth Networks al 24 de octubre de 2014. Las farmacias incluyen farmacias de venta al por menor, clínicas, de preparación de medicamentos compuestos, terapia de infusión en el hogar, institucionales y de atención a largo plazo. Los establecimientos incluyen servicios de cuidado diurno para adultos, grupos de profesionales de la salud aliados, servicios de ambulancia, centros de cirugía ambulatoria, centros de audiología/audición, centros de natalidad, clínicas/centros de atención diurna, clínicas de atención de conveniencia, centros de educación sobre diabetes, centros de diálisis, centros de rehabilitación de alcohol/drogas, hospitales generales de atención de condiciones agudas, centros de rehabilitación médica, centros de resonancia magnética nuclear (MRI), hospitales pediátricos, establecimientos de rehabilitación/discapacidades físicas, grupos de proveedores, hospitales psiquiátricos, establecimientos de radiación/oncología, clínicas de salud rurales, centros de atención de urgencia, establecimientos de radiografía y radiología, y centros de tratamiento/diagnóstico para pacientes ambulatorios.
	



