#section6
    .content
        a(href="#section6")
        h1.white Cómo empezar
        h2.white Una vez que haya elegido el plan que sea adecuado para usted, deberá seguir unos pasos más antes de que comience la cobertura. Algunas cosas que tiene que saber.
        h2.white Si en cualquier momento necesita nuestra ayuda, llámenos las 24 horas del día, los 7 días de la semana al 844-263-7797.
    .content
        .col-lg-12.col-md-6.col-sm-6.col-xs-12.circlesContPadding
            +icons('images/circle1.png','Inscríbase en healthcare.gov','Una vez que haya elegido su plan de UnitedHeathcare en este sitio, imprima la página o anote el nombre del plan. Vuelva a <a href="http://www.healthcare.gov" target="_blank" class="orange"> healthcare.gov</a> y seleccione el plan para comenzar a inscribirse. Llámenos si desea ayuda para ubicar su plan. <br><br> Para inscribirse, necesitará el número del Seguro Social de cada persona que estará cubierta por el plan. También se le pedirá los ingresos totales de cada persona que inscriba en el plan. Si es elegible para un subsidio, recibirá un cálculo en ese momento.')
        .col-lg-12.col-md-6.col-sm-6.col-xs-12.circlesContPadding
           +icons('images/circle2.png','Pague su primera factura','Le enviaremos la primera factura de la prima mensual de 7 a 10 días después de la inscripción. Su plan comenzará una vez que recibamos su pago. Confirmaremos con usted la fecha de inicio de su plan.')
        .col-lg-12.col-md-6.col-sm-6.col-xs-12.circlesContPadding
            +icons('images/circle3.png','Su cobertura comienza a partir del 1 de enero de 2015','Si recibimos su primer pago hasta el 15 de diciembre de 2014 inclusive, su plan de salud comienza el 1 de enero de 2015. Si hace su primer pago antes del 15 de enero, su plan comenzará el 1 de febrero. Si hace su primer pago antes del 15 de febrero, su plan comenzará el 1 de marzo.')
    

        .buttongroup.center-block.col-lg-12.col-md-12.col-sm-6.col-xs-12
            a(href="http://www.healthcare.gov" target="_blank").btn.btn-warning.col-lg-6.col-md-6.col-sm-6.col-xs-12 <b>Inscríbase ahora en healthcare.gov</b>
        
            .col-lg-1.col-md-1.col-sm-6.col-xs-1
                p.text-center -O-
            .white.col-lg-5.col-md-5.col-sm-5.col-xs-12 
                .dashedbox.text-center Llámenos las 24 horas del día, los 7 días de la semana, al <b>844-263-7797</b>
        div(style="margin:60px 0 30px 0") 
            
        +valuePropositionFeature('images/calc-symbol.png','Un panorama claro de sus costos, antes de hacer el gasto', 'Calcule rápida y fácilmente sus costos de atención de la salud para tratamientos y procedimientos específicos, con MyHealthcare Cost Estimator. Recibirá un cálculo basado en el proveedor y la ubicación que usted elija, personalizado para su plan de salud y su estado de beneficios.','white','sec6-vid-btn','white','images/Cost-Estimate_Video_Thumb.png')
       
        .player
            video#sec6-video(preload='metadata', controls='controls' class="sec-6-vid")
                source(src="./videos/CostEstimator/Cost-Estimator.mp4", type="video/mp4")
                source(src='./videos/CostEstimator/Cost-Estimator.webm', type='video/webm')
                source(src='./videos/CostEstimator/Cost-Estimator.ogv', type='video/ogg')