#section5
  a(href="#section5")
  .content
    h1.Blu-text Recetas más sencillas
    h2.Blu-text Ya sea que necesite una receta ocasional o un medicamento en forma regular, nuestro plan lo cubre con una amplia variedad de medicamentos aprobados por la FDA. Y haremos que sea fácil mantener un registro de sus pedidos y pagos. 
      +seemore("sec5seeMoreBtn")
    br
    .row  
      #sec5HiddenContent.col-lg-8.col-md-10.col-sm-12
        p.Blu-text Los medicamentos incluidos en su plan figuran en la Lista de Medicamentos de Venta con Receta. Los medicamentos en esta lista están divididos en cuatro "niveles". Usted paga menos por los medicamentos del Nivel 1 (genéricos y de marca de bajo costo) y más por los medicamentos del Nivel 4 (medicamentos especializados que requieren una administración o dosis especial).
        p.Blu-text La lista de medicamentos es la misma para todos nuestros planes que incluyen beneficios farmacéuticos. Sin embargo, la cantidad que usted debe pagar dependerá del plan que elija.
        p.Blu-text Usted obtendrá un conveniente registro en línea de las recetas que surtió y la cantidad que pagó. También tendrá acceso a información sobre los medicamentos, precios y posibles alternativas que puede analizar con su médico. Cuando se inscriba en HealtheNotes, nos comunicaremos con usted y su médico para sugerirles ahorros en medicamentos para más de 24 condiciones.

      //- include ./ScriptCarousel
  
    .container
      a.btn.btn-lg.btn-warning(id="sec5btn" target="_blank" href="http://xaz.welcometouhc.com/files/baseline-responsive/content/global_assets/Exchanges/Essential%20PDL.pdf") VER LA LISTA DE MEDICAMENTOS
    .content
      +valuePropositionFeature('images/pharmacy-symbol.png',
                            'Servicios de una Farmacia Especializada', 'Nuestra Farmacia Especializada Optum Rx brinda un apoyo integral y coordinado para los medicamentos que se utilizan para tratar condiciones crónicas complejas. Nuestros farmacéuticos le ofrecen una fuente de información única para comprender y controlar su medicamento.','Blu-text','sec5-vid','white','images/Pharmacy_Video_Thumb.png')

      .player
          video#video-player-sec5(preload='metadata', controls='controls' class="sec-3-vid")
              source(src="/videos/Health4Me/Health4Me.mp4", type="video/mp4")
              source(src='/assets/videos/oceans-clip.webm', type='video/webm')
              source(src='/assets/videos/oceans-clip.ogv', type='video/ogg')


    .content
      .small.lightgray(style="margin-top:50px;") La cobertura de sus medicamentos puede cambiar. Para obtener más información, consulte los documentos de su beneficio farmacéutico.