

#section1
        .content
            a(href="#section1")
            .white
                h1 Bienvenido

                h2.SectionIntroText ¡Gracias por su interés en UnitedHealthcare! Nos complace brindarle más información sobre los planes que ofrecemos en el Mercado de Seguros de Salud de Arizona (healthcare.gov) a través de All Savers Insurance Company. Y quisiéramos contarle por qué decimos que somos más que un plan de salud, somos su socio en la atención de la salud.
                .icons
                    .row
                        .col-lg-3.col-md-6.col-sm-6.col-xs-12.feature
                            +circle('images/HealthPartner.png','Vea qué es un socio en la salud','#choose-a-partner')
                        .col-lg-3.col-md-6.col-sm-6.col-xs-12.feature
                           +circle('images/Plans.png','Infórmese sobre los planes que ofrecemos en el Mercado de Arizona','#section3')
                        .col-lg-3.col-md-6.col-sm-6.col-xs-12.feature
                            +circle('images/map.png','Explore nuestra red de médicos, farmacias y hospitales','#section4')
                        .col-lg-3.col-md-6.col-sm-6.col-xs-12.feature
                            +circle('images/prescription.png','Comprenda nuestra cobertura de medicamentos recetados','#section5')
                
        
        +scrolldown
        .content                 
            +valuePropositionFeature('images/nurse-symbol.png',
                        'Una enfermera a una llamada de distancia', 'Con cada uno de nuestros planes, usted tendrá acceso a una Enfermera Registrada las 24 horas del día llamando a la línea de NurseLine. Las enfermeras pueden ayudarle a decidir dónde y cuándo buscar cuidado, encontrar el médico adecuado y responder preguntas sobre sus medicamentos. Además, puede conversar con una enfermera las 24 horas del día, los 7 días de la semana en myuhc.com.','Blu-text','sec1btn-vid','white','images/NurseLine_Video_Thumb.png')

            .player
                video#video-player-sec1(preload='metadata', controls='controls' class="sec-1-vid")
                    source(src="/videos/Health4Me/Health4Me.mp4", type="video/mp4")
                    source(src='/assets/videos/oceans-clip.webm', type='video/webm')
                    source(src='/assets/videos/oceans-clip.ogv', type='video/ogg')

                             
        
                   


