#section2.section2.plans
	.container
		.content
			h1(style="margin-top:60px !important; margin-bottom:30px") ¿Sabe cuál es el plan que le interesa?
			//- +autocomplete

			#Dropdown

			script( id="DropdownTemplate" type="text/x-handlebars-template") 
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Seleccione un plan
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each AZPlans}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='{{PlanURL}}') {{PlanNameShort}}
						{{/each}}	
			p(style="font-size:18px; padding-top:10px;").Blu-text.col-lg-12.col-md-12.col-sm-12.col-xs-12 o consulte todos nuestros planes más abajo

		
	//- include ./components/carousel.jade

	.plans_list_container
		
	// script( id="healthplans" type="text/x-handlebars-template")
	// 	div
	// 		{{#with AZPlans.[1]}}
	// 		div
	// 			h2 {{this.PlanName}}
	// 			p {{this.MetallicLevel}} | {{this.HSA}}

	// 		{{/with}}
