

#TableCarousel.hidden-xs
    //- #FilterBar
    //-     .FilterTitle.FilterSection
    //-         .filtertitle-text Planes que <br> se muestran
    //-         a(href="").resetOpt Restablecer filtros
    //-     .Filter1.FilterSection
    //-         .Ind-and-Fam
    //-             input(type='radio' name='Fam-Or-Ind' value='0' checked).radio-inline
    //-             .labelcopy Familiar &amp; Individual
    //-         .Ind-Only
    //-             input(type='radio' name='Fam-Or-Ind' value='1').radio-inline
    //-             .labelcopy Individual Solamente
    //-     .Filter2.FilterSection
    //-         .col1
    //-             .CatastrophicFilter.MetalicFilter
    //-                 input(type='checkbox' name='Catastrophic' checked).checkbox-inline
    //-                 .labelcopy Catastrófica
    //-             .BronzeFilter.MetalicFilter
    //-                 input(type='checkbox' name='Bronze' checked).checkbox-inline
    //-                 .labelcopy Bronce
    //-             .SilverFilter.MetalicFilter
    //-                 input(type='checkbox' name='Silver' checked).checkbox-inline
    //-                 .labelcopy Plata
    //-         .col2
    //-             .GoldFilter.MetalicFilter
    //-                 input(type='checkbox' name='Gold' checked).checkbox-inline
    //-                 .labelcopy Oro
    //-             .PlatinumFilter.MetalicFilter
    //-                 input(type='checkbox' name='Platinum' checked).checkbox-inline
    //-                 .labelcopy Platino
    //-             .HSAFilter.MetalicFilter
    //-                 input(type='checkbox' name='HSA' ).checkbox-inline
    //-                 .labelcopy HSA
    //-     .Filter3
    //-         .deduct-sort
    //-             .deduct-content <span class="fa fa-angle-double-up"></span> Ordenar de Catastrófica a Platino
    //-         .print-plans
    //-             .print-content <span class="fa fa-print"></span> Imprimir una comparación de todos los planes

    #KeyBar 
        .planKey
            .inNetwork 
                .inNetworkCopy Dentro de la red 
                .inNetworkSearch 
                    .small Search <span class="fa fa-search"></span>
            .plan-head
                .deduct-title
                    .PlanName-Title Deducible
                    .PlanName-Sub (Por Año*)
                .typerow
                    .fam 
                        .fam-icon
                    .ind
                        .ind-icon
            .plan-head
                .deduct-title
                    .PlanName-Title Gastos Directos de su Bolsillo
                    .PlanName-Sub (Por Año*)
                .typerow
                    .fam 
                        .fam-icon
                    .ind
                        .ind-icon

    #Plans

script( id="healthplans" type="text/x-handlebars-template")

    
        {{#each AZPlans}}
        .planOption
            .planName
                .PlanName-Title {{this.PlanName}}
                .PlanName-Sub PPO | {{this.MetallicLevel}}
            
            .Deduct-Fam {{this.DedInFam}}
            .Deduct-Ind {{this.DedInInd}}
            
            .OOPocket-Fam {{this.OOPInInd}}
            .OOPocket-Ind {{this.OOPInInd}}
            .SBCLink
                a(href="#") Ver más detalles en el Resumen de Beneficios y Cobertura (PDF)
                    .fa.fa-download
            .viewDetails
                a(href="#").PlanDetails-btn Vea los detalles

        {{/each}}


        