.content
    #TableCarousel.hidden-xs
        .row(style="padding-bottom:10px;")
            .col-lg-8.col-md-8
                h4.bold.Blu-text COMPARAR PLANES
            .col-lg-4.col-md-4
                .small.lightGray Precio de la prima disponible en el  
                    a(href="").orange healthcare.gov
        #FilterBar
            .FilterTitle.FilterSection
                .filtertitle-text Planes que <br> su muestran
                a(href="").resetOpt Restablecer filtros
            .Filter1.FilterSection
                .Ind-and-Fam
                    input(type='radio' name='Fam-and-Ind' value='0' id="#").radio-inline
                    .labelcopy Familiar y Individual
                .Ind-Only

                    input(type='radio' name='Fam-Or-Ind' value='1' id="#").radio-inline
                    .labelcopy Individual Solamente

            .Filter2.FilterSection
                .col1
                    .CatastrophicFilter.MetalicFilter
                        input(type='checkbox' name='Catastrophic' id="Catastrophic").checkbox-inline
                        .labelcopy Catastrófica
                    .BronzeFilter.MetalicFilter
                        input(type='checkbox' name='Bronze' id="Bronze").checkbox-inline
                        .labelcopy Bronce
                    .SilverFilter.MetalicFilter
                        input(type='checkbox' name='Silver' id="Silver").checkbox-inline
                        .labelcopy Plata
                .col2
                    .GoldFilter.MetalicFilter
                        input(type='checkbox' name='Gold' id="Gold").checkbox-inline
                        .labelcopy Oro
                    .PlatinumFilter.MetalicFilter
                        input(type='checkbox' name='Platinum' id="Platinum").checkbox-inline
                        .labelcopy Platino
                    .HSAFilter.MetalicFilter

                        input(type='checkbox' name='HSA' ).checkbox-inline
                        .labelcopy Incluye HSA

            .Filter3
                .deduct-sort
                    .deduct-content <span class="fa fa-angle-double-up"></span> Ordenar de Platino a Catastrófica
                .print-plans
                    .print-content <span class="fa fa-print"></span> Imprimir una comparación de todos los planes
        .row
            .col-lg-12.col-md-12(style="margin-bottom:50px;")
                p.small.lightGray Es posible que no todos los planes que aparecen aquí estén disponibles para usted. Healthcare.gov determina cuáles son los planes que están a la venta.
                
       

        #KeyBar.col-lg-3.col-md-3.col.sm-3
            .planKey
                .inNetwork 
                    .inNetworkCopy Dentro de la red 
                    .inNetworkSearch 
                        .small Buscar <span class="fa fa-search"></span>
                .plan-head
                    .deduct-title
                        .PlanName-Title Deducible 
                        .PlanName-Sub (Por Año*)
                    .typerow
                        .fam 
                            .fam-icon
                        .ind
                            .ind-icon
                .plan-head
                    .deduct-title
                        .PlanName-Title Gastos Directos de su Bolsillo
                        .PlanName-Sub (Por Año*)
                    .typerow
                        .fam 
                            .fam-icon
                        .ind
                            .ind-icon
        
            #plansWidth

        ul#Plans.col-lg-11.col-md-11.col-sm-12.col-xs-12

        script( id="cont" type="text/x-handlebars-template")    
            {{#each AZPlans}}
            li.planOption.col-lg-3.col-md-3.col.sm-3(data-metallic="{{this.MetallicLevel}}" data-hsa="{{this.HSA}}")
                .planName
                    .PlanName-Title {{this.PlanName}}
                    .PlanName-Sub PPO | {{this.MetallicLevel}}
                
                .Deduct-Fam {{this.DedInFam}}
                .Deduct-Ind {{this.DedInInd}}
                
                .OOPocket-Fam {{this.OOPInInd}}
                .OOPocket-Ind {{this.OOPInInd}}
                .viewDetails
                    a(href="{{PlanURL}}").PlanDetails-btn Vea los detalles
                .SBCLink
                    a(href="{{SBCURL}}") Imprimir Resumen de Beneficios y Cobertura completo
                        .fa.fa-download
            {{/each}}


        //- table.table.table-hover.table-condensed
        //-     thead
        //-         tr.planName 
        //-           th.PlanName-Title {{this.DedInFam}}
        //-             .PlanName-Sub PPO | {{this.MetallicLevel}}   
        //-       tbody
        //-         tr
        //-           td.Deduct-Fam {{this.DedInFam}}
        //-         tr
        //-           td.Deduct-Ind {{this.DedInInd}}
        //-         tr
        //-           td.OOPocket-Fam {{this.OOPInInd}}
        //-         tr
