block top-nav
	.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		.upperNavbar
			.container
				.upperNavbar-Box.pull-right
					//-.questionsTxt ¿Preguntas? Llámenos al <a style="padding-right:10px;" href="tel:8442637797" class="phone-number">844-263-7797</strong></a> <span class="language"> English  <span class="fa fa-angle-double-left"></span> <a class="languageLink" href="#"> Espa&ntilde;ol? </a> </span>
		.container.mainnav
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='index.html') 
				img.headlogo(src="images/UHC-Logo-Blu.png")
			.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#choose-a-partner') La elección de un socio
						li
							a(href='#section2') Nuestros planes
						li
							a(href='#section4') Médicos &amp; hospitales
						li
							a(href='#section5') Cobertura de medicamentos de venta con receta
						li
							a(href='#section6') Cómo empezar

				