mixin videoPlayer(vid-src-mp4, vid-src-webm, vid-src-ogg)
  .player
    video#video-player-sec1(preload='metadata', controls='controls' class="sec-1-vid")
        source(src='#{vid-src-mp4}', type="video/mp4")
        source(src='#{vid-src-webm}', type='video/webm')
        //- source(src='#{vid-src-ogg}', type='video/ogg')


mixin autocomplete
  .row
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
          .input-group
            input.form-control.autocomplete#tags(type='text' placeholder='Seleccione un plan')
            span.input-group-btn
              .ac-btn.button.btn.btn-default#dropDownToggle(style="padding-bottom: 1px; padding-top: 8px;" type='button') <i class="fa fa-sort-desc fa-3x orange"></i>
      
      .col-lg-5.col-md-5.col-sm-5.col-xs-12
        #viewDetails.btn.btn-lg.btn-warning VEA LOS DETALLES
      p(style="font-size:18px; padding-top:10px;").Blu-text.col-lg-12.col-md-12.col-sm-12.col-xs-12 o consulte todos nuestros planes más abajo

mixin chart

 section
      .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          h6 Pago del deducible
          p.small
            | Jane visita al médico. Paga el costo total de su visita porque aún no ha alcanzado su deducible de $1,500.
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          h6 Pago del coaseguro 
          p.small
            | A medida que avanza el año, Jane tiene más gastos y alcanza el deducible. Cuando tiene una lesión menor, su plan paga la mayor parte del costo de su tratamiento.
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          h6 Cuando alcanza el límite de gastos directos de su bolsillo
          p.small
            | Hacia el final del año, Jane ha pagado $5,000 por su atención y alcanzó el límite de gastos directos de su bolsillo para el año. Cuando necesita hacerse exámenes de diagnóstico, su plan paga todos los costos cubiertos.
      .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          img.img-responsive(src='/images/chart-1.png')
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          img.img-responsive(src='/images/chart-graph-2.png')
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          img.img-responsive(src='/images/chart-graph-3.png')
      .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-6.col-md-6.col-sm-6.green.centerText.bold Jane paga<br> el 100%
          .col-lg-6.col-md-6.col-sm-6.Blu-text.centerText.bold Su plan paga<br> el 0%
          .col-lg-12.col-md-12.col-sm-12
            .col-lg-8.col-md-8.col-sm-8
              p Costo de la visita al consultorio:
              p Jane paga:
              p Su plan paga:
            .col-lg-4.col-md-4.col-sm-4
              p $100
              p $100
              p $0
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-6.col-md-6.col-sm-6.green.centerText.centerText.bold Jane paga<br> el 20%
          .col-lg-6.col-md-6.col-sm-6.Blu-text.centerText.bold Su plan paga<br> el 80%
          .col-lg-12.col-md-12.col-sm-12
            .col-lg-8.col-md-8.col-sm-8
              p Costos de tratamiento:
              p Jane paga:
              p Su plan paga:
            .col-lg-4.col-md-4.col-sm-4
              p $1,000
              p $200
              p $800
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-6.col-md-6.col-sm-6.green.centerText.centerText.bold Jane paga <br> 0%
          .col-lg-6.col-md-6.col-sm-6.Blu-text.centerText.bold Su plan paga<br> 100%
          .col-lg-12.col-md-12.col-sm-12
            .col-lg-8.col-md-8.col-sm-8
              p Costos de laboratorio:
              p Jane paga:
              p Su plan paga:
            .col-lg-4.col-md-4.col-sm-4
              p $500
              p $0
              p $500

// used in an accordion
mixin metallicChart
  .table-responsive
    table.table.table-hover.table-bordered.table-condensed
        tr
          th
          th 
            p.Blu-text.bold Costo mensual total 
          th 
            p.Blu-text.bold Costo cuando recibe atención
          th 
            p.Blu-text.bold Es mejor si usted...
        tr
          td
            p.Blu-text.bold Catastrófica
          td
            .imgCont
              .mask
                img(src="../images/one-dallar.png")
          td
            .imgCont
              .mask
                img(src="../images/light-blue-dollars.png")
          td
            p.Blu-text.lightGray tiene una "exención por dificultad financiera" O es menor de 30 años y está dispuesto a pagar la mayoría de los gastos directos de su bolsillo
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle bronze"></i>  Bronce
          td
            img(src="../images/one-dallar.png")
          td
            img(src="../images/light-blue-dollars.png")
          td
            p.Blu-text.lightGray raramente usa servicios médicos y desea pagos mensuales más bajos
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle silver"></i>  Plata
          td
            img(src="../images/two-dollars.png")
          td
            img(src="../images/three-dollars-light.png")
          td
            p.Blu-text.lightGray quiere equilibrar los pagos mensuales y los gastos directos de su bolsillo
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle gold"></i>  Oro
          td
            img(src="../images/three-dollars.png")
          td
            img(src="../images/two-dollars-light.png")
          td
            p.Blu-text.lightGray quiere controlar los pagos mensuales a la vez que reduce los gastos directos de su bolsillo
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle platnium"></i>  Platino
          td
            img(src="../images/dark-blue-dollars.png")
          td
            img(src="../images/one-dollars-light.png")
          td
            p.Blu-text.lightGray usa servicios médicos con frecuencia o desea gastos directos de su bolsillo bajos

mixin plan-details(copy, Lione, Litwo, Lithree, Lifour, id)
  section(class="detials" id="#{id}")
    h3.Blu-text= copy
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      ul 
       li.Blu-text
        p.Blu-text!= Lione
       li.Blu-text
        p.Blu-text!= Litwo
    .col-lg-6.col-md-6.col-sm-6.col-xs-12  
      ul        
       li.Blu-text
        p.Blu-text!= Lithree
       li.Blu-text
        p.Blu-text!= Lifour


mixin valuePropositionFeature(imgSrc,heading,copy,copyColor,vidbtnId,vidColorClass,VideoThumb)
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        p.small.blue-mid Su Socio en la Salud
      .col-lg-12.col-md-12.col-sm-12.col-xs-12#valuePropFeature
        .col-lg-1.col-md-1.col-sm-1.col-xs-12
            img.img-responsive.center-block(src= '#{imgSrc}')
          .col-lg-9.col-md-9.col-sm-9.col-xs-9
            h4.bold(class="#{copyColor}")!= heading
            p.value-prop-copy(class="#{copyColor}")= copy

          .videoTrigger.pull-right.col-lg-2.col-md-2.col-sm-2.col-xs-12.pull-right(id="#{vidbtnId}")
            
                    img.videoTriggerImg.img-responsive(src="#{VideoThumb}" class="#{vidColorClass}")

                      


mixin icons(link,heading,copy)
    .col-lg-1.col-md-1.col-sm-1
        img.circleimg-bottom.img-responsive(src= "#{link}" )
    .col-lg-9.col-md-9.col-sm-9
      h4.white.bold= heading
      .icons-copy.white!= copy


mixin circle(src,copy,scrollLink)
    .circle
      a(href="#{scrollLink}")
         img.circleimg-top.img-responsive(src= "#{src}" )
      p.circle-copy= copy  

mixin scrolldown()
    .scrolldown 
        p Desplácese para <br> ver más
        .fa.fa-arrow-down.icon


mixin moreDetails(link, id)
  .moreDetails.pull-right.orange  
                .fa.fa-plus-square.fa-2x(id='#{id}', data-toggle='collapse', href='#{link}' class="moreDetailsBtn")
                p.small.orange.pull-right(data-toggle='collapse', class='#{link}')
                  |Ver
                  br
                  |Más 


mixin seemore(id, color)
  .seemore.orange()  
                .fa.fa-plus-square(style="padding:0 7px 0 0; font-size: 29px; float:left;" data-toggle='collapse', href='#', id='#{id}')
                p.small(data-toggle='collapse', href='#' class="#{color}" style="float:left; text-transform: lowercase !important;")
                  |Ver
                  br
                  |Más 


mixin watchVideo(link, id, colorClass)
    .pull-right.orange(style="margin-top:20px")
                col-lg-6.col-md-6
                  .fa.fa-youtube-play.fa-2x(href='#{link}',id='#{id}')
                .col-lg-6.col-md-6
                  p.video-btn-copy.small(class="#{colorClass}",href='#{link}')
                    |Mire
                    |Video
mixin watchVideo2(link, id, colorClass)
    .col-lg-2.col-md-2.pull-right.orange()
                .col-lg-6.col-md-6
                  .fa.fa-youtube-play.fa-3x(href='#{link}',id='#{id}')
                .col-lg-6.col-md-6
                  p.video-btn-copy.small(class="#{colorClass}",href='#{link}')
                    |Mire
                    |Video

mixin embededVid(src, id)
  iframe(width='640', height='360', src='#{src}', frameborder='0', allowfullscreen='allowfullscreen' id="'#{id}'")
  // new line

mixin modalPopup(id, modalTitle, modalcontent)
    .modal.fade(id='#{id}' tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            .close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
            h4.modal-title #{modalTitle}
          .modal-body
            p #{modalcontent}

mixin planNameMixin
  a(href="index.html")
    img(src="images/BackStoSummary.png" style="width: 115px")
  h3.PlanNameCell Detalles del plan: <span class="visible-xs-inline"> <br></span> {{PlanNameShort}}
  .PlanSubRow.row
    .col-lg-8.col-md-8.col-sm-12.col-xs-12
      p.small <a href="./files/sbc{{SBCURL}}" class="orange" target="_blank">Ver más detalles en el Resumen de Beneficios y Cobertura (PDF) <i class="fa fa-download"></i> </a>
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      p.small.lightGray Precio de la prima disponible en <a href="http://www.healthcare.gov" target="_blank" class="orange"></a>


mixin footerDisclaimer
  #FootDisclaimer
        .container
            p.small.lightGray Este sitio web es operado por UnitedHealthcare y no es el sitio web del Mercado de Seguros de Salud. El seguro es ofrecido por All Savers Insurance Company. <br> Esta cobertura de cuidado de la salud no está diseñada ni se comercializa como un seguro que proporciona la empresa. No cumple con las leyes de seguro de salud de grupo de pequeñas empresas de su estado. Estos planes no pueden ser usados, ni ahora ni en el futuro, por usted o una empresa para brindar cobertura de seguro a los empleados.

