//- Base template
//- All other templates should extend from this

doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title Sandbox
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='styles/main.css')
        //google foont Open Sans
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext', rel='stylesheet', type='text/css')


        
    body( data-spy="scroll" data-target=".navbar-collapse")

        <!--[if lte IE 7]>
        <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/''>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        include ../components/top-nav.jade
        block content
        include ../components/footer.jade

        // build:js(client) scripts/global.js
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/jquery-ui/jquery-ui.min.js')
        script(src='/bower_components/bootstrap/js/affix.js')
        script(src='/bower_components/bootstrap/js/alert.js')
        script(src='/bower_components/bootstrap/js/button.js')
        script(src='/bower_components/bootstrap/js/carousel.js')
        script(src='/bower_components/bootstrap/js/collapse.js')
        script(src='/bower_components/bootstrap/js/dropdown.js')
        script(src='/bower_components/bootstrap/js/modal.js')
        script(src='/bower_components/bootstrap/js/scrollspy.js')
        script(src='/bower_components/bootstrap/js/tab.js')
        script(src='/bower_components/bootstrap/js/tooltip.js')
        script(src='/bower_components/bootstrap/js/popover.js')
        script(src='/bower_components/bootstrap/js/transition.js')
        script(src='/bower_components/video-js/video.js')
        script(src='/bower_components/handlebars/handlebars.js')

        // endbuild

        // build:js(client) scripts/app.js
        // [injector:js]
        <script src="scripts/isotope.min.js"></script>
        <script src="scripts/jquery.quicksand.js"></script>
        // [endinjector]
        script(src='/scripts/app.js')
        // endbuild
